{
  "presets": ["@babel/preset-es2015"],
  "plugins": [
    [
      "replace-import-path",
      {
        "src": "ramda/es/mergeDeepRight",
        "dest": "ramda/src/mergeDeepRight"
      }
    ]
  ]
}
