es
umd
flow-typed
lib
node_modules

# from gitignore
src/icons/*.js
src/icons/*.js.flow
src/icons/*.ts

src/Illustration/index.js.flow
src/AirportIllustration/index.js.flow
src/ServiceLogo/index.js.flow
src/FeatureIcon/index.js.flow
src/Illustration/index.d.ts
src/AirportIllustration/index.d.ts
src/ServiceLogo/index.d.ts
src/FeatureIcon/index.d.ts
