es
umd
flow-typed
lib
dist
bin
node_modules
packages/babel-plugin-orbit-components/dist/
packages/babel-plugin-orbit-components/__fixtures__/
packages/eslint-plugin-orbit-components/dist
!.storybook
!.remarkrc.js
!.size-limit.cjs
!.size-limit.js

# from gitignore
packages/orbit-components/src/icons/*

docs/.cache
docs/public

# orbit design tokens
packages/orbit-design-tokens/output/

# transforms
packages/orbit-components/transforms/__testfixtures__/*
