{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "flowtype",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "jsx-a11y/href-no-hash": "off" // broken rule
  }
}
