{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "jsx-a11y/href-no-hash": "off" // broken rule
  }
}
