
$background-button-link-secondary-active: rgb(214, 222, 230);
$padding-input-normal: 0 12px;
$width-modal-small: 540px;
$background-button-warning-hover: rgb(220, 124, 5);
$color-text-button-primary: rgb(255, 255, 255);
$border-color-button-facebook-bordered-active: rgb(53, 79, 136);
$margin-button-icon-normal: 8px;
$height-button-normal: 44px;
$color-icon-warning: rgb(233, 131, 5);
$font-size-form-label: 14px;
$palette-cloud-light-hover: rgb(229, 234, 239);
$color-text-button-warning-active: rgb(255, 255, 255);
$palette-red-light: rgb(250, 234, 234);
$line-height-heading-title1: 36px;
$background-table: rgb(255, 255, 255);
$color-alert-icon-info: rgb(1, 114, 203);
$palette-blue-normal-hover: rgb(1, 97, 172);
$color-text-button-critical: rgb(255, 255, 255);
$z-index-sticky: "100";
$border-color-checkbox-radio: rgb(186, 199, 213);
$palette-blue-light: rgb(232, 244, 253);
$box-shadow-action: 0px 0px 2px 0px rgba(37, 42, 49, 0.16), 0px 1px 4px 0px rgba(37, 42, 49, 0.12);
$color-text-badge-info: rgb(1, 114, 203);
$color-text-button-info-bordered-hover: rgb(1, 97, 172);
$palette-cloud-normal: rgb(239, 242, 245);
$palette-product-normal-hover: rgb(0, 152, 130);
$space-xx-small: 4px;
$color-text-button-google-active: rgb(11, 12, 15);
$font-size-input-normal: 14px;
$color-text-button-google-hover: rgb(24, 27, 32);
$palette-product-normal-active: rgb(0, 143, 123);
$line-height-heading-title2: 28px;
$color-text-button-info-bordered-active: rgb(1, 80, 142);
$color-text-button-success: rgb(255, 255, 255);
$space-small: 12px;
$height-service-logo-large: 48px;
$background-button-link-secondary-hover: rgb(229, 234, 239);
$palette-blue-normal-active: rgb(1, 80, 142);
$color-text-button-warning-hover: rgb(255, 255, 255);
$palette-cloud-light-active: rgb(214, 222, 230);
$line-height-heading-title3: 24px;
$palette-product-light: rgb(236, 248, 247);
$height-button-large: 52px;
$background-button-warning-active: rgb(205, 115, 4);
$margin-button-icon-large: 12px;
$border-color-button-info-bordered: rgb(1, 114, 203);
$background-button-primary: rgb(0, 169, 145);
$border-color-button-facebook-bordered-hover: rgb(56, 84, 144);
$background-button-google-hover: rgb(229, 234, 239);
$box-shadow-raised: 0px 4px 8px 0px rgba(37, 42, 49, 0.16), 0px 8px 24px 0px rgba(37, 42, 49, 0.24);
$palette-cloud-darker-active: rgb(148, 168, 190);
$background-badge-info: rgb(232, 244, 253);
$border-color-tag: rgb(239, 242, 245);
$background-button-success: rgb(40, 161, 56);
$palette-red-normal-active: rgb(157, 21, 21);
$color-text-button-secondary-bordered-active: rgb(11, 12, 15);
$line-height-heading-title4: 20px;
$border-color-input-error-focus: rgb(210, 28, 28);
$padding-button-small: 0 12px;
$color-text-secondary: rgb(79, 94, 113);
$color-text-link-primary-hover: rgb(0, 169, 145);
$color-text-button-link-secondary-hover: rgb(24, 27, 32);
$font-size-text-normal: 14px;
$palette-green-dark-active: rgb(31, 81, 38);
$palette-ink-lighter-hover: rgb(93, 115, 142);
$border-color-button-primary-bordered: rgb(0, 169, 145);
$border-color-button-warning-bordered-active: rgb(205, 115, 4);
$color-text-button-filled: rgb(255, 255, 255);
$line-height-heading-title5: 20px;
$height-input-small: 32px;
$border-color-input-focus: rgb(1, 114, 203);
$padding-button-normal-with-right-icon: 0 12px 0 16px;
$background-button-critical-active: rgb(157, 21, 21);
$opacity-overlay: "0.8";
$width-breakpoint-desktop: 992;
$border-style-input: "solid";
$font-size-button-small: 12px;
/* use for all basic elements like buttons, inputs, content containers */
$border-radius-normal: 3px;
$border-radius-badge: 12px;
$color-text-button-warning-bordered: rgb(233, 131, 5);
$background-button-bundle-medium-hover: "linear-gradient(to top right, #2D1393 0%, #7343AA 100%)";
$box-shadow-overlay: 0px 12px 24px -4px rgba(37, 42, 49, 0.24), 0px 8px 60px 0px rgba(37, 42, 49, 0.32);
$color-text-tag-selected: rgb(239, 242, 245);
$border-color-button-success-bordered: rgb(40, 161, 56);
$palette-orange-dark-active: rgb(117, 58, 0);
$color-text-button-primary-active: rgb(255, 255, 255);
$color-text-button-link-primary: rgb(0, 169, 145);
$background-button-facebook: rgb(59, 89, 152);
$width-breakpoint-large-mobile: 576;
$border-color-button-secondary-bordered-hover: rgb(24, 27, 32);
$palette-red-light-active: rgb(238, 185, 185);
$padding-table-compact: 8px 12px;
$color-text-alert-link: rgb(37, 42, 49);
$color-text-button-google-bordered: rgb(37, 42, 49);
$padding-left-select-prefix: 48px;
$height-radio-button: 20px;
$margin-bottom-select-suffix: 2px;
$color-icon-primary: rgb(37, 42, 49);
$palette-cloud-normal-active: rgb(202, 212, 222);
$background-table-shadow-left: "linear-gradient(to left, transparent, rgba(186, 199, 213, 0.23))";
$width-radio-button: 20px;
$color-text-button-success-active: rgb(255, 255, 255);
$border-color-checkbox-radio-error: rgb(210, 28, 28);
$color-icon-success: rgb(40, 161, 56);
$background-tag-selected: rgb(37, 42, 49);
$border-color-card: rgb(239, 242, 245);
$color-text-button-critical-active: rgb(255, 255, 255);
$height-icon-small: 16px;
$color-text-button-white: rgb(37, 42, 49);
$background-badge-warning: rgb(253, 240, 227);
$color-info-check-box-radio: rgb(79, 94, 113);
$font-weight-table-head: "700";
$palette-blue-light-active: rgb(180, 219, 248);
$border-color-checkbox-radio-active: rgb(37, 42, 49);
$box-shadow-action-active: 0px 1px 4px 0px rgba(37, 42, 49, 0.16), 0px 4px 8px 0px rgba(37, 42, 49, 0.12);
$line-height-heading: "1.2";
$font-weight-heading-display: "700";
$border-color-input-error-hover: rgb(185, 25, 25);
$width-icon-small: 16px;
$palette-product-light-active: rgb(192, 232, 228);
$border-color-button-info-bordered-active: rgb(1, 80, 142);
$background-button-primary-active: rgb(0, 143, 123);
$background-tooltip-large-mobile: rgb(0, 90, 163);
$font-size-heading-display-subtitle: 22px;
$line-height-text: "1.4";
$background-button-secondary-hover: rgb(220, 227, 233);
$background-button-link-primary: "transparent";
$background-button-white-bordered-hover: rgba(255, 255, 255, 0.2);
$padding-tag-with-icon: 6px 8px 6px 6px;
$color-text-button-facebook: rgb(255, 255, 255);
$border-width-input-focus: 2px;
$color-text-badge-dark: rgb(255, 255, 255);
$border-color-input-hover: rgb(93, 115, 142);
$background-button-bundle-top-hover: "linear-gradient(to top right, #171718 0%, #51575C 100%)";
$padding-tag: 8px;
$color-text-badge-warning: rgb(233, 131, 5);
$background-button-white: rgb(255, 255, 255);
$space-x-large: 32px;
$z-index-default: "1";
$background-button-success-active: rgb(29, 114, 40);
$box-shadow-fixed: 0px 0px 2px 0px rgba(37, 42, 49, 0.16), 0px 2px 4px 0px rgba(37, 42, 49, 0.12);
$z-index-drawer: "815";
$width-checkbox: 20px;
$color-text-button-facebook-bordered-hover: rgb(56, 84, 144);
$border-color-button-critical-bordered-hover: rgb(185, 25, 25);
$space-xxx-large: 52px;
$font-size-button-normal: 14px;
/* use for smaller elements like tags */
$border-radius-small: 2px;
$palette-ink-normal-hover: rgb(24, 27, 32);
$font-size-text-small: 12px;
$color-text-link-secondary: rgb(37, 42, 49);
$color-icon-info: rgb(1, 114, 203);
$padding-button-normal: 0 16px;
$opacity-checkbox-disabled: "0.5";
$height-input-normal: 44px;
$height-checkbox: 20px;
$border-color-button-primary-bordered-active: rgb(0, 143, 123);
$padding-button-small-with-left-icon: 0 12px 0 8px;
$color-text-tag: rgb(37, 42, 49);
$color-text-button-filled-active: rgb(255, 255, 255);
$color-text-button-white-bordered-hover: rgb(255, 255, 255);
$border-width-card: 1px;
$padding-alert-with-icon: 12px;
$color-text-button-secondary-hover: rgb(24, 27, 32);
$color-alert-icon-warning: rgb(233, 131, 5);
$palette-product-dark: rgb(0, 127, 109);
$padding-button-normal-with-icons: 0 12px;
$background-badge-dark: rgb(37, 42, 49);
$palette-ink-light: rgb(79, 94, 113);
$padding-button-small-with-right-icon: 0 8px 0 12px;
$modifier-scale-button-active: 0.95;
$color-text-button-warning-bordered-active: rgb(205, 115, 4);
$palette-green-darker: rgb(35, 92, 43);
$border-color-button-success-bordered-active: rgb(29, 114, 40);
$font-size-heading-title1: 28px;
$palette-blue-dark: rgb(0, 90, 163);
$border-color-button-white-bordered: rgb(255, 255, 255);
$color-text-button-primary-bordered: rgb(0, 169, 145);
$modifier-scale-checkbox-radio-active: 0.95;
$color-text-alert-critical: rgb(151, 12, 12);
$padding-alert: 16px;
$padding-loading: 12px;
$background-button-bordered: "transparent";
$color-text-button-success-bordered: rgb(40, 161, 56);
$palette-orange-normal-hover: rgb(220, 124, 5);
$palette-orange-darker: rgb(128, 63, 0);
$palette-red-dark: rgb(151, 12, 12);
$color-text-button-info-hover: rgb(255, 255, 255);
$text-decoration-text-link-secondary-hover: "none";
$color-text-button-google-bordered-active: rgb(11, 12, 15);
$color-text-button-critical-bordered: rgb(210, 28, 28);
$color-text-input-prefix: rgb(79, 94, 113);
$background-badge-bundle-medium: "linear-gradient(to top right, #3719AB 0%, #8539DB 100%)";
$color-text-warning: rgb(233, 131, 5);
$height-illustration-medium: 200px;
$font-size-heading-title2: 22px;
$background-button-bundle-basic: "linear-gradient(to top right, #E13E3B 0%, #E87E09 100%)";
$font-weight-bold: "700";
$color-text-button-link-primary-active: rgb(0, 102, 87);
$background-tag: rgb(245, 247, 249);
$background-button-facebook-active: rgb(53, 79, 136);
$color-text-loading: rgb(186, 199, 213);
$height-stopover-arrow: 7px;
$border-color-button-google-bordered: rgb(37, 42, 49);
$background-tag-selected-active: rgb(11, 12, 15);
$font-size-input-small: 14px;
$color-form-label: rgb(37, 42, 49);
$color-icon-radio-button-disabled: rgb(105, 125, 149);
$color-text-button-white-active: rgb(11, 12, 15);
$width-stopover-arrow: 36px;
$palette-orange-light: rgb(253, 240, 227);
$palette-green-normal-hover: rgb(35, 139, 49);
$font-size-heading-title3: 16px;
$background-alert-critical: rgb(250, 234, 234);
$width-modal-normal: 740px;
$width-breakpoint-medium-mobile: 414;
$color-text-button-facebook-active: rgb(255, 255, 255);
$palette-green-light: rgb(235, 244, 236);
$palette-social-facebook: rgb(59, 89, 152);
$margin-badge-icon: 0 4px 0 0;
$palette-social-facebook-hover: rgb(56, 84, 144);
$palette-green-light-hover: rgb(215, 234, 217);
$height-button-small: 32px;
$margin-button-icon-small: 8px;
$height-service-logo-small: 12px;
$padding-input-small: 0 12px;
/* use only for square */
$border-radius-circle: 50%;
$palette-white: rgb(255, 255, 255);
$font-size-heading-title4: 14px;
$color-placeholder-input-error: rgb(210, 28, 28);
$color-icon-input: rgb(186, 199, 213);
$background-button-info: rgb(1, 114, 203);
$background-alert-warning: rgb(253, 240, 227);
$color-icon-tertiary: rgb(186, 199, 213);
$background-button-info-hover: rgb(1, 97, 172);
$background-badge-success: rgb(235, 244, 236);
$height-service-logo-medium: 24px;
$palette-white-hover: rgb(245, 247, 249);
$font-weight-normal: "400";
$background-button-link-primary-active: rgb(214, 222, 230);
$color-form-label-filled: rgb(79, 94, 113);
$palette-green-normal: rgb(40, 161, 56);
$line-height-text-normal: 20px;
$border-color-button-google-bordered-hover: rgb(24, 27, 32);
$font-size-heading-title5: 12px;
$background-button-white-active: rgb(229, 234, 239);
$color-text-critical: rgb(210, 28, 28);
$palette-orange-light-hover: rgb(250, 226, 199);
$duration-fast: "0.15s";
$color-text-button-success-bordered-hover: rgb(35, 139, 49);
$background-tag-hover: rgb(229, 234, 239);
$font-size-heading-display: 40px;
$color-text-alert-warning: rgb(174, 87, 0);
$background-button-bundle-basic-hover: "linear-gradient(to top right, #BD2825 0%, #D67000 100%)";
$text-decoration-text-link-secondary: "underline";
$padding-button-small-with-icons: 0 8px;
$color-text-badge-success: rgb(40, 161, 56);
$color-text-button-info: rgb(255, 255, 255);
$padding-button-normal-with-left-icon: 0 16px 0 12px;
$margin-top-form-feedback: 2px;
$palette-orange-normal: rgb(233, 131, 5);
$border-width-input: 1px;
$palette-cloud-dark: rgb(232, 237, 241);
$palette-product-dark-active: rgb(0, 102, 87);
$height-illustration-small: 90px;
$color-stopover-arrow: rgb(79, 94, 113);
$height-input-group-separator-normal: 24px;
$color-text-button-critical-bordered-hover: rgb(185, 25, 25);
$palette-red-dark-hover: rgb(137, 11, 11);
$background-body: rgb(245, 247, 249);
$background-button-bordered-hover: rgb(245, 247, 249);
$color-text-button-primary-bordered-hover: rgb(0, 152, 130);
$border-color-button-white-bordered-hover: rgb(255, 255, 255);
$palette-blue-dark-hover: rgb(0, 79, 143);
$palette-blue-dark-active: rgb(0, 62, 112);
$color-alert-icon-critical: rgb(210, 28, 28);
$padding-tag-removable-with-icon: 6px;
$border-color-button-white-bordered-active: rgb(255, 255, 255);
$color-text-button-primary-bordered-active: rgb(0, 143, 123);
$background-button-bordered-active: rgb(245, 247, 249);
$color-icon-radio-button: rgb(0, 169, 145);
$palette-ink-light-active: rgb(50, 66, 86);
$palette-bundle-basic: rgb(215, 51, 28);
$palette-ink-light-hover: rgb(62, 78, 99);
$color-alert-icon-success: rgb(40, 161, 56);
$palette-ink-normal: rgb(37, 42, 49);
$font-weight-links: "500";
$color-text-primary: rgb(37, 42, 49);
$palette-bundle-medium: rgb(59, 30, 176);
$background-button-bundle-basic-active: "linear-gradient(to top right, #9F1816 0%, #C36802 100%)";
$background-badge-neutral: rgb(245, 247, 249);
$width-modal-extra-large: 1280px;
$padding-tag-removable: 6px 6px 6px 8px;
$color-text-button-secondary: rgb(37, 42, 49);
$color-text-button-white-bordered: rgb(255, 255, 255);
$background-tag-active: rgb(214, 222, 230);
$padding-badge: 0 8px;
$color-text-link-secondary-hover: rgb(0, 169, 145);
$color-text-button-success-bordered-active: rgb(29, 114, 40);
$palette-red-dark-active: rgb(109, 9, 9);
$color-text-badge-critical: rgb(210, 28, 28);
$padding-textarea-normal: 12px;
$color-text-button-critical-bordered-active: rgb(157, 21, 21);
$padding-button-without-text: "0";
$color-placeholder-input-file-error: rgb(210, 28, 28);
$palette-product-dark-hover: rgb(0, 112, 96);
$background-service-logo: "transparent";
$font-family: "'Roboto', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif";
$line-height-heading-display-subtitle: 28px;
$background-button-white-hover: rgb(245, 247, 249);
$border-color-button-critical-bordered: rgb(210, 28, 28);
$color-text-button-facebook-bordered: rgb(59, 89, 152);
$border-color-button-google-bordered-active: rgb(11, 12, 15);
$line-height-text-large: 22px;
$color-text-success: rgb(40, 161, 56);
$background-button-bundle-top: "linear-gradient(to top right, #2D2D2E 0%, #696E73 100%)";
$border-color-input: rgb(186, 199, 213);
$palette-orange-light-active: rgb(248, 211, 171);
$font-weight-heading-title1: "700";
$color-heading-inverted: rgb(255, 255, 255);
$palette-green-light-active: rgb(195, 223, 199);
$palette-social-facebook-active: rgb(53, 79, 136);
$background-badge-critical: rgb(250, 234, 234);
$background-badge-white: rgb(255, 255, 255);
$background-country-flag: "transparent";
$color-text-button-facebook-hover: rgb(255, 255, 255);
$background-button-white-bordered: "transparent";
$width-modal-large: 900px;
$palette-white-active: rgb(229, 234, 239);
$background-button-secondary: rgb(232, 237, 241);
$background-button-info-active: rgb(1, 80, 142);
$background-button-link-primary-hover: rgb(229, 234, 239);
$width-icon-medium: 24px;
$color-text-badge-neutral: rgb(37, 42, 49);
$space-x-small: 8px;
$palette-green-normal-active: rgb(29, 114, 40);
$space-xx-large: 40px;
$font-weight-heading-title2: "500";
$z-index-modal: "825";
$border-color-tag-focus: rgb(1, 114, 203);
$border-style-card: "solid";
$space-xxx-small: 2px;
$duration-slow: "0.4s";
$space-large: 24px;
$height-icon-medium: 24px;
$border-color-input-error: rgb(210, 28, 28);
$background-carrier-logo: "transparent";
$color-text-button-white-hover: rgb(24, 27, 32);
$background-tooltip: rgb(255, 255, 255);
$background-tag-selected-hover: rgb(24, 27, 32);
$background-alert-success: rgb(235, 244, 236);
$padding-input-file: 0 0 0 6px;
$color-text-button-link-primary-hover: rgb(0, 112, 96);
$color-placeholder-input-file: rgb(79, 94, 113);
$font-weight-heading-title3: "500";
$color-text-button-info-active: rgb(255, 255, 255);
$color-text-badge-white: rgb(37, 42, 49);
$border-color-button-secondary-bordered: rgb(37, 42, 49);
$palette-orange-normal-active: rgb(205, 115, 4);
$border-color-modal: rgb(239, 242, 245);
$color-text-button-google-bordered-hover: rgb(24, 27, 32);
$color-text-input-disabled: rgb(105, 125, 149);
$background-button-facebook-hover: rgb(56, 84, 144);
$border-color-checkbox-radio-focus: rgb(1, 114, 203);
$background-button-bundle-medium: "linear-gradient(to top right, #3719AB 0%, #8539DB 100%)";
$font-size-message: 14px;
$font-weight-heading-title4: "500";
$border-color-button-success-bordered-hover: rgb(35, 139, 49);
$width-badge-circled: 24px;
$background-separator: rgb(239, 242, 245);
$color-text-button-warning-bordered-hover: rgb(220, 124, 5);
$palette-product-darker: rgb(0, 92, 78);
$border-color-table-head: rgb(186, 199, 213);
$color-text-alert-success: rgb(43, 115, 54);
$background-badge-bundle-basic: "linear-gradient(to top right, #E13E3B 0%, #E87E09 100%)";
$padding-button-large-with-right-icon: 0 16px 0 28px;
$border-color-table: rgb(239, 242, 245);
$width-breakpoint-large-desktop: 1200;
$palette-blue-darker: rgb(0, 70, 128);
$color-text-error: rgb(210, 28, 28);
$font-weight-heading-title5: "700";
$color-text-button-filled-hover: rgb(255, 255, 255);
$border-color-button-primary-bordered-hover: rgb(0, 152, 130);
$background-input-disabled: rgb(239, 242, 245);
$palette-ink-normal-active: rgb(11, 12, 15);
$height-input-large: 52px;
$palette-ink-lighter: rgb(105, 125, 149);
$color-icon-secondary: rgb(79, 94, 113);
$padding-button-large: 0 28px;
$color-text-button-secondary-active: rgb(11, 12, 15);
$color-text-button-link-secondary: rgb(37, 42, 49);
$color-text-link-primary: rgb(0, 127, 109);
$color-text-button-white-bordered-active: rgb(255, 255, 255);
$color-icon-checkbox-radio-disabled: rgb(186, 199, 213);
$font-size-button-large: 16px;
$background-button-bundle-top-active: "linear-gradient(to top right, #101011 0%, #51575C)";
$background-button-google: rgb(245, 247, 249);
$border-color-input-active: rgb(74, 97, 124);
$opacity-button-disabled: "0.3";
$background-button-success-hover: rgb(35, 139, 49);
$border-color-table-cell: rgb(186, 199, 213);
$font-size-form-feedback: 12px;
$border-color-button-critical-bordered-active: rgb(157, 21, 21);
$color-text-button-facebook-bordered-active: rgb(53, 79, 136);
$palette-red-darker: rgb(118, 9, 9);
$color-text-white: rgb(255, 255, 255);
$box-shadow-fixed-reverse: 0px 0px 2px 0px rgba(37, 42, 49, 0.16), 0px -2px 4px 0px rgba(37, 42, 49, 0.12);
$background-table-even: rgb(245, 247, 249);
$background-button-link-secondary: "transparent";
$border-color-button-facebook-bordered: rgb(59, 89, 152);
$background-button-primary-hover: rgb(0, 152, 130);
$color-text-input: rgb(37, 42, 49);
$border-color-button-info-bordered-hover: rgb(1, 97, 172);
$color-text-button-warning: rgb(255, 255, 255);
$color-text-alert-info: rgb(0, 90, 163);
$palette-product-light-hover: rgb(214, 240, 238);
$background-button-white-bordered-active: rgba(255, 255, 255, 0.2);
$background-button-secondary-active: rgb(202, 212, 222);
$color-placeholder-input: rgb(105, 125, 149);
$space-medium: 16px;
$color-text-button-info-bordered: rgb(1, 114, 203);
$height-country-flag: "auto";
$height-icon-large: 32px;
$box-shadow-button-focus: 0 0 4px 1px rgba(1, 114, 203, 0.3);
$palette-blue-light-hover: rgb(208, 233, 251);
$border-color-checkbox-radio-hover: rgb(79, 94, 113);
$color-text-button-critical-hover: rgb(255, 255, 255);
$z-index-modal-overlay: "800";
$color-icon-critical: rgb(210, 28, 28);
$z-index-on-the-top: "900";
$color-text-button-success-hover: rgb(255, 255, 255);
$color-text-button-google: rgb(37, 42, 49);
$line-height-heading-display: 44px;
$duration-normal: "0.3s";
$palette-cloud-normal-hover: rgb(220, 227, 233);
$palette-product-normal: rgb(0, 169, 145);
$border-color-button-secondary-bordered-active: rgb(11, 12, 15);
$palette-cloud-light: rgb(245, 247, 249);
$color-icon-checkbox-radio: rgb(0, 169, 145);
$padding-textarea-small: 8px 12px;
$background-table-shadow-right: "linear-gradient(to right, transparent, rgba(186, 199, 213, 0.23))";
$background-button-warning: rgb(233, 131, 5);
$background-table-hover: rgb(239, 242, 245);
$font-weight-medium: "500";
$padding-button-large-with-icons: 0 16px;
$width-country-flag: 24px;
$palette-red-light-hover: rgb(244, 210, 210);
$background-alert-info: rgb(232, 244, 253);
$palette-blue-normal: rgb(1, 114, 203);
$height-badge: 24px;
$width-icon-large: 32px;
$background-input: rgb(255, 255, 255);
$color-text-button-primary-hover: rgb(255, 255, 255);
$palette-red-normal: rgb(210, 28, 28);
$palette-orange-dark-hover: rgb(143, 71, 0);
$color-text-button-secondary-bordered: rgb(37, 42, 49);
/* use for big elements like modal and large buttons */
$border-radius-large: 6px;
$padding-table: 12px 16px;
$background-button-bundle-medium-active: "linear-gradient(to top right, #250F79 0%, #5A3485 100%)";
$background-button-critical-hover: rgb(185, 25, 25);
$width-breakpoint-tablet: 768;
$palette-cloud-darker: rgb(186, 199, 213);
$color-text-button-link-secondary-active: rgb(11, 12, 15);
$palette-green-dark: rgb(43, 115, 54);
$background-card: rgb(255, 255, 255);
$height-separator: 1px;
$border-color-button-warning-bordered: rgb(233, 131, 5);
$background-illustration: "transparent";
$height-input-group-separator-small: 16px;
$text-decoration-text-link-primary: "underline";
$background-badge-bundle-top: "linear-gradient(to top right, #2D2D2E 0%, #696E73 100%)";
$text-decoration-text-link-primary-hover: "none";
$border-color-button-warning-bordered-hover: rgb(220, 124, 5);
$padding-button-large-with-left-icon: 0 28px 0 16px;
$color-text-table: rgb(79, 94, 113);
$opacity-radio-button-disabled: "0.5";
$palette-green-dark-hover: rgb(37, 100, 47);
$font-size-text-large: 16px;
$palette-ink-lighter-active: rgb(74, 97, 124);
$color-text-info: rgb(1, 114, 203);
$background-button-google-active: rgb(214, 222, 230);
$box-shadow-raised-reverse: 0px -4px 8px 0px rgba(37, 42, 49, 0.16), 0px -8px 24px 0px rgba(37, 42, 49, 0.24);
$font-weight-heading-display-subtitle: "400";
$color-heading: rgb(37, 42, 49);
$background-button-critical: rgb(210, 28, 28);
$background-modal: rgb(255, 255, 255);
$color-text-button-secondary-bordered-hover: rgb(24, 27, 32);
$palette-red-normal-hover: rgb(185, 25, 25);
$palette-cloud-darker-hover: rgb(166, 182, 200);
$palette-orange-dark: rgb(174, 87, 0);
$line-height-text-small: 16px;
$margin-button-group: 0 1px 0 0;
