
$background-button-link-secondary-active = rgb(214, 222, 230)
$padding-input-normal = 0 12px
$width-modal-small = 540px
$background-button-warning-hover = rgb(244, 138, 6)
$color-text-button-primary = rgb(255, 255, 255)
$border-color-button-facebook-bordered-active = rgb(53, 79, 136)
$margin-button-icon-normal = 8px
$height-button-normal = 44px
$color-icon-warning = rgb(249, 151, 30)
$font-size-form-label = 14px
$palette-cloud-light-hover = rgb(229, 234, 239)
$color-text-button-warning-active = rgb(255, 255, 255)
$palette-red-light = rgb(250, 232, 232)
$background-table = rgb(255, 255, 255)
$color-alert-icon-info = rgb(1, 118, 210)
$palette-blue-normal-hover = rgb(0, 106, 189)
$color-text-button-critical = rgb(255, 255, 255)
$z-index-sticky = "100"
$border-color-checkbox-radio = rgb(186, 199, 213)
$palette-blue-light = rgb(224, 246, 255)
$palette-ink-dark = rgb(23, 27, 30)
$color-text-badge-info = rgb(1, 118, 210)
$color-text-button-info-bordered-hover = rgb(0, 106, 189)
$palette-cloud-normal = rgb(232, 237, 241)
$palette-product-normal-hover = rgb(0, 152, 130)
$space-xx-small = 4px
$color-text-button-google-active = rgb(56, 64, 75)
$font-size-input-normal = 14px
$color-text-button-google-hover = rgb(63, 72, 84)
$palette-product-normal-active = rgb(0, 143, 123)
$color-text-button-info-bordered-active = rgb(0, 100, 178)
$color-text-button-success = rgb(255, 255, 255)
$space-small = 12px
$height-service-logo-large = 48px
$background-button-link-secondary-hover = rgb(229, 234, 239)
$palette-blue-normal-active = rgb(0, 100, 178)
$box-shadow-elevated-level1 = 0 4px 12px 0 rgba(23, 27, 30, 0.3)
$color-icon-attention = rgb(23, 27, 30)
$color-text-button-warning-hover = rgb(255, 255, 255)
$box-shadow-modal = 0 20px 60px 0 rgba(23, 27, 30, 0.4)
$palette-cloud-light-active = rgb(214, 222, 230)
$palette-product-light = rgb(225, 245, 242)
$height-button-large = 52px
$background-button-warning-active = rgb(230, 130, 6)
$margin-button-icon-large = 12px
$border-color-button-info-bordered = rgb(1, 118, 210)
$background-button-primary = rgb(0, 169, 145)
$border-color-button-facebook-bordered-hover = rgb(56, 84, 144)
$background-button-google-hover = rgb(229, 234, 239)
$background-badge-info = rgb(224, 246, 255)
$border-color-tag = rgb(232, 237, 241)
$background-button-success = rgb(70, 182, 85)
$palette-red-normal-active = rgb(178, 23, 23)
$color-text-button-secondary-bordered-active = rgb(56, 64, 75)
$padding-button-small-with-icon = 8px
$border-color-input-error-focus = rgb(210, 28, 28)
$padding-button-small = 12px
$color-text-secondary = rgb(127, 145, 168)
$color-text-link-primary-hover = rgb(0, 169, 145)
$color-text-button-link-secondary-hover = rgb(63, 72, 84)
$font-size-text-normal = 14px
$palette-ink-lighter-hover = rgb(166, 182, 200)
$border-color-button-primary-bordered = rgb(0, 169, 145)
$border-color-button-warning-bordered-active = rgb(230, 130, 6)
$color-text-button-filled = rgb(255, 255, 255)
$height-input-small = 32px
$border-color-input-focus = rgb(1, 118, 210)
$background-button-critical-active = rgb(178, 23, 23)
$opacity-overlay = "0.8"
$border-style-input = "solid"
$font-size-button-small = 12px
/* use for all basic elements like buttons, inputs, content containers */
$border-radius-normal = 3px
$border-radius-badge = 12px
$color-text-button-warning-bordered = rgb(249, 151, 30)
$color-text-tag-selected = rgb(232, 237, 241)
$border-color-button-success-bordered = rgb(70, 182, 85)
$color-text-button-primary-active = rgb(255, 255, 255)
$color-text-button-link-primary = rgb(0, 169, 145)
$background-button-facebook = rgb(59, 89, 152)
$border-color-button-secondary-bordered-hover = rgb(63, 72, 84)
$palette-red-light-active = rgb(241, 192, 192)
$padding-table-compact = 8px 12px
$color-text-alert-link = rgb(23, 27, 30)
$color-text-button-google-bordered = rgb(70, 81, 94)
$padding-left-select-prefix = 48px
$height-radio-button = 20px
$margin-bottom-select-suffix = 2px
$color-icon-primary = rgb(70, 81, 94)
$palette-cloud-normal-active = rgb(202, 213, 223)
$background-table-shadow-left = "linear-gradient(to left, transparent, rgba(186, 199, 213, 0.23))"
$width-radio-button = 20px
$color-text-button-success-active = rgb(255, 255, 255)
$border-color-checkbox-radio-error = rgb(210, 28, 28)
$color-icon-success = rgb(70, 182, 85)
$background-tag-selected = rgb(70, 81, 94)
$border-color-card = rgb(232, 237, 241)
$color-text-button-critical-active = rgb(255, 255, 255)
$height-icon-small = 16px
$color-text-button-white = rgb(70, 81, 94)
$background-badge-warning = rgb(252, 241, 205)
$color-info-check-box-radio = rgb(127, 145, 168)
$font-weight-table-head = "700"
$palette-blue-light-active = rgb(176, 232, 254)
$border-color-checkbox-radio-active = rgb(70, 81, 94)
$line-height-heading = "1.2"
$font-weight-heading-display = "700"
$border-color-input-error-hover = rgb(189, 25, 25)
$width-icon-small = 16px
$palette-product-light-active = rgb(154, 221, 211)
$border-color-button-info-bordered-active = rgb(0, 100, 178)
$background-button-primary-active = rgb(0, 143, 123)
$line-height-text = "1.4"
$background-button-secondary-hover = rgb(217, 225, 232)
$background-button-link-primary = "transparent"
$background-button-white-bordered-hover = rgba(255, 255, 255, 0.2)
$padding-tag-with-icon = 6px 8px 6px 6px
$color-text-button-facebook = rgb(255, 255, 255)
$border-width-input-focus = 2px
$color-text-badge-dark = rgb(255, 255, 255)
$border-color-input-hover = rgb(166, 182, 200)
$padding-tag = 6px 8px
$color-text-badge-warning = rgb(249, 151, 30)
$padding-button-normal-with-icon = 12px
$background-button-white = rgb(255, 255, 255)
$space-x-large = 32px
$z-index-default = "1"
$background-button-success-active = rgb(63, 163, 76)
$width-checkbox = 20px
$color-text-button-facebook-bordered-hover = rgb(56, 84, 144)
$border-color-button-critical-bordered-hover = rgb(189, 25, 25)
$space-xxx-large = 52px
$font-size-button-normal = 14px
/* use for smaller elements like tags */
$border-radius-small = 2px
$palette-ink-normal-hover = rgb(63, 72, 84)
$font-size-text-small = 12px
$color-text-link-secondary = rgb(23, 27, 30)
$color-icon-info = rgb(1, 118, 210)
$padding-button-normal = 16px
$opacity-checkbox-disabled = "0.5"
$height-input-normal = 44px
$height-checkbox = 20px
$border-color-button-primary-bordered-active = rgb(0, 143, 123)
$color-text-tag = rgb(70, 81, 94)
$color-text-button-filled-active = rgb(255, 255, 255)
$color-text-button-white-bordered-hover = rgb(255, 255, 255)
$border-width-card = 1px
$padding-alert-with-icon = 12px
$color-text-button-secondary-hover = rgb(63, 72, 84)
$color-alert-icon-warning = rgb(249, 151, 30)
$palette-product-dark = rgb(0, 130, 111)
$background-badge-dark = rgb(70, 81, 94)
$palette-ink-light = rgb(127, 145, 168)
$modifier-scale-button-active = 0.95
$color-text-button-warning-bordered-active = rgb(230, 130, 6)
$border-color-button-success-bordered-active = rgb(63, 163, 76)
$font-size-heading-title1 = 28px
$palette-blue-dark = rgb(0, 58, 105)
$border-color-button-white-bordered = rgb(255, 255, 255)
$color-text-button-primary-bordered = rgb(0, 169, 145)
$modifier-scale-checkbox-radio-active = 0.95
$color-text-alert-critical = rgb(101, 8, 8)
$padding-alert = 16px
$padding-loading = 12px
$background-button-bordered = "transparent"
$color-text-button-success-bordered = rgb(70, 182, 85)
$palette-orange-normal-hover = rgb(244, 138, 6)
$palette-red-dark = rgb(101, 8, 8)
$color-text-button-info-hover = rgb(255, 255, 255)
$text-decoration-text-link-secondary-hover = "underline"
$color-text-button-google-bordered-active = rgb(56, 64, 75)
$color-text-button-critical-bordered = rgb(210, 28, 28)
$color-text-input-prefix = rgb(127, 145, 168)
$color-text-warning = rgb(249, 151, 30)
$height-illustration-medium = 200px
$font-size-heading-title2 = 22px
$font-weight-bold = "700"
$color-text-button-link-primary-active = rgb(0, 143, 123)
$background-tag = rgb(245, 247, 249)
$background-button-facebook-active = rgb(53, 79, 136)
$color-text-loading = rgb(186, 199, 213)
$height-stopover-arrow = 7px
$border-color-button-google-bordered = rgb(70, 81, 94)
$background-tag-selected-active = rgb(56, 64, 75)
$font-size-input-small = 14px
$color-form-label = rgb(70, 81, 94)
$color-icon-radio-button-disabled = rgb(186, 199, 213)
$color-text-button-white-active = rgb(56, 64, 75)
$width-stopover-arrow = 36px
$palette-orange-light = rgb(252, 241, 205)
$palette-green-normal-hover = rgb(66, 172, 80)
$font-size-heading-title3 = 16px
$background-alert-critical = rgb(250, 232, 232)
$width-modal-normal = 740px
$color-text-button-facebook-active = rgb(255, 255, 255)
$palette-green-light = rgb(231, 243, 232)
$palette-social-facebook = rgb(59, 89, 152)
$palette-social-facebook-hover = rgb(56, 84, 144)
$palette-green-light-hover = rgb(215, 235, 216)
$margin-right-badge-icon = 4px
$height-button-small = 32px
$margin-button-icon-small = 8px
$height-service-logo-small = 12px
$padding-input-small = 0 12px
/* use only for square */
$border-radius-circle = 50%
$palette-white = rgb(255, 255, 255)
$font-size-heading-title4 = 14px
$color-placeholder-input-error = rgb(210, 28, 28)
$color-icon-input = rgb(186, 199, 213)
$background-button-info = rgb(1, 118, 210)
$background-alert-warning = rgb(252, 241, 205)
$color-icon-tertiary = rgb(186, 199, 213)
$background-button-info-hover = rgb(0, 106, 189)
$background-badge-success = rgb(231, 243, 232)
$height-service-logo-medium = 24px
$palette-white-hover = rgb(245, 247, 249)
$font-weight-normal = "400"
$background-button-link-primary-active = rgb(214, 222, 230)
$color-text-attention = rgb(23, 27, 30)
$color-form-label-filled = rgb(127, 145, 168)
$palette-green-normal = rgb(70, 182, 85)
$border-color-button-google-bordered-hover = rgb(63, 72, 84)
$background-button-white-active = rgb(229, 234, 239)
$color-text-critical = rgb(210, 28, 28)
$palette-orange-light-hover = rgb(250, 234, 183)
$duration-fast = "0.15s"
$color-text-button-success-bordered-hover = rgb(66, 172, 80)
$background-tag-hover = rgb(229, 234, 239)
$font-size-heading-display = 40px
$color-text-alert-warning = rgb(169, 54, 16)
$text-decoration-text-link-secondary = "underline"
$color-text-badge-success = rgb(70, 182, 85)
$color-text-button-info = rgb(255, 255, 255)
$margin-top-form-feedback = 2px
$palette-orange-normal = rgb(249, 151, 30)
$border-width-input = 1px
$height-illustration-small = 90px
$color-stopover-arrow = rgb(127, 145, 168)
$height-input-group-separator-normal = 24px
$color-text-button-critical-bordered-hover = rgb(189, 25, 25)
$background-body = rgb(245, 247, 249)
$background-button-bordered-hover = rgb(245, 247, 249)
$color-text-button-primary-bordered-hover = rgb(0, 152, 130)
$border-color-button-white-bordered-hover = rgb(255, 255, 255)
$color-alert-icon-critical = rgb(210, 28, 28)
$padding-tag-removable-with-icon = 6px
$border-color-button-white-bordered-active = rgb(255, 255, 255)
$color-text-button-primary-bordered-active = rgb(0, 143, 123)
$background-button-bordered-active = rgb(255, 255, 255)
$color-icon-radio-button = rgb(0, 169, 145)
$palette-ink-light-active = rgb(95, 115, 140)
$palette-ink-light-hover = rgb(109, 129, 156)
$color-alert-icon-success = rgb(70, 182, 85)
$palette-ink-normal = rgb(70, 81, 94)
$font-weight-links = "500"
$color-text-primary = rgb(70, 81, 94)
$background-badge-neutral = rgb(245, 247, 249)
$padding-tag-removable = 6px 6px 6px 8px
$color-text-button-secondary = rgb(70, 81, 94)
$color-text-button-white-bordered = rgb(255, 255, 255)
$background-tag-active = rgb(214, 222, 230)
$padding-badge = 0 8px
$color-text-link-secondary-hover = rgb(0, 169, 145)
$color-text-button-success-bordered-active = rgb(63, 163, 76)
$color-text-badge-critical = rgb(210, 28, 28)
$padding-textarea-normal = 12px
$color-text-button-critical-bordered-active = rgb(178, 23, 23)
$color-placeholder-input-file-error = rgb(210, 28, 28)
$background-service-logo = "transparent"
$font-family = ""Roboto", -apple-system, ".SFNSText-Regular", "San Francisco", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif"
$background-button-white-hover = rgb(245, 247, 249)
$border-color-button-critical-bordered = rgb(210, 28, 28)
$color-text-button-facebook-bordered = rgb(59, 89, 152)
$border-color-button-google-bordered-active = rgb(56, 64, 75)
$color-text-success = rgb(70, 182, 85)
$border-color-input = rgb(186, 199, 213)
$palette-orange-light-active = rgb(249, 228, 161)
$font-weight-heading-title1 = "700"
$color-heading-inverted = rgb(255, 255, 255)
$palette-green-light-active = rgb(199, 227, 201)
$palette-social-facebook-active = rgb(53, 79, 136)
$background-badge-critical = rgb(250, 232, 232)
$background-badge-white = rgb(255, 255, 255)
$background-country-flag = "transparent"
$color-text-button-facebook-hover = rgb(255, 255, 255)
$background-button-white-bordered = "transparent"
$width-modal-large = 1280px
$palette-white-active = rgb(229, 234, 239)
$background-button-secondary = rgb(232, 237, 241)
$background-button-info-active = rgb(0, 100, 178)
$background-button-link-primary-hover = rgb(229, 234, 239)
$width-icon-medium = 24px
$color-text-badge-neutral = rgb(23, 27, 30)
$space-x-small = 8px
$palette-green-normal-active = rgb(63, 163, 76)
$space-xx-large = 40px
$font-weight-heading-title2 = "500"
$z-index-modal = "825"
$border-color-tag-focus = rgb(1, 118, 210)
$border-style-card = "solid"
$space-xxx-small = 2px
$duration-slow = "0.4s"
$space-large = 24px
$height-icon-medium = 24px
$border-color-input-error = rgb(210, 28, 28)
$background-carrier-logo = "transparent"
$color-text-button-white-hover = rgb(63, 72, 84)
$background-tag-selected-hover = rgb(63, 72, 84)
$background-alert-success = rgb(231, 243, 232)
$padding-input-file = 0 0 0 6px
$color-text-button-link-primary-hover = rgb(0, 152, 130)
$color-placeholder-input-file = rgb(127, 145, 168)
$font-weight-heading-title3 = "500"
$color-text-button-info-active = rgb(255, 255, 255)
$color-text-badge-white = rgb(23, 27, 30)
$border-color-button-secondary-bordered = rgb(70, 81, 94)
$palette-orange-normal-active = rgb(230, 130, 6)
$border-color-modal = rgb(232, 237, 241)
$color-text-button-google-bordered-hover = rgb(63, 72, 84)
$color-text-input-disabled = rgb(186, 199, 213)
$background-button-facebook-hover = rgb(56, 84, 144)
$border-color-checkbox-radio-focus = rgb(1, 118, 210)
$padding-button-large-with-icon = 16px
$font-size-message = 14px
$font-weight-heading-title4 = "500"
$border-color-button-success-bordered-hover = rgb(66, 172, 80)
$width-badge-circled = 24px
$background-separator = rgb(232, 237, 241)
$color-text-button-warning-bordered-hover = rgb(244, 138, 6)
$border-color-table-head = rgb(186, 199, 213)
$color-text-alert-success = rgb(6, 93, 18)
$border-color-table = rgb(232, 237, 241)
$color-text-error = rgb(210, 28, 28)
$color-text-button-filled-hover = rgb(255, 255, 255)
$border-color-button-primary-bordered-hover = rgb(0, 152, 130)
$background-input-disabled = rgb(232, 237, 241)
$palette-ink-normal-active = rgb(56, 64, 75)
$height-input-large = 52px
$palette-ink-lighter = rgb(186, 199, 213)
$color-icon-secondary = rgb(127, 145, 168)
$padding-button-large = 28px
$color-text-button-secondary-active = rgb(56, 64, 75)
$color-text-button-link-secondary = rgb(70, 81, 94)
$color-text-link-primary = rgb(0, 169, 145)
$color-text-button-white-bordered-active = rgb(255, 255, 255)
$color-icon-checkbox-radio-disabled = rgb(186, 199, 213)
$font-size-button-large = 16px
$background-button-google = rgb(245, 247, 249)
$border-color-input-active = rgb(148, 168, 190)
$opacity-button-disabled = "0.3"
$background-button-success-hover = rgb(66, 172, 80)
$border-color-table-cell = rgb(186, 199, 213)
$font-size-form-feedback = 12px
$border-color-button-critical-bordered-active = rgb(178, 23, 23)
$color-text-button-facebook-bordered-active = rgb(53, 79, 136)
$color-text-white = rgb(255, 255, 255)
$background-table-even = rgb(245, 247, 249)
$background-button-link-secondary = "transparent"
$border-color-button-facebook-bordered = rgb(59, 89, 152)
$background-button-primary-hover = rgb(0, 152, 130)
$color-text-input = rgb(70, 81, 94)
$border-color-button-info-bordered-hover = rgb(0, 106, 189)
$color-text-button-warning = rgb(255, 255, 255)
$color-text-alert-info = rgb(0, 58, 105)
$palette-product-light-hover = rgb(189, 233, 226)
$background-button-white-bordered-active = rgba(255, 255, 255, 0.2)
$background-button-secondary-active = rgb(202, 213, 223)
$color-placeholder-input = rgb(186, 199, 213)
$space-medium = 16px
$color-text-button-info-bordered = rgb(1, 118, 210)
$height-country-flag = "auto"
$height-icon-large = 32px
$box-shadow-button-focus = 0 0 4px 1px rgba(1, 118, 210, 0.3)
$palette-blue-light-hover = rgb(200, 239, 254)
$border-color-checkbox-radio-hover = rgb(127, 145, 168)
$color-text-button-critical-hover = rgb(255, 255, 255)
$z-index-modal-overlay = "800"
$box-shadow-actionable = 0 2px 4px 0 rgba(23, 27, 30, 0.1)
$color-icon-critical = rgb(210, 28, 28)
$z-index-on-the-top = "900"
$color-text-button-success-hover = rgb(255, 255, 255)
$color-text-button-google = rgb(70, 81, 94)
$duration-normal = "0.3s"
$palette-cloud-normal-hover = rgb(217, 225, 232)
$palette-product-normal = rgb(0, 169, 145)
$border-color-button-secondary-bordered-active = rgb(56, 64, 75)
$palette-cloud-light = rgb(245, 247, 249)
$color-icon-checkbox-radio = rgb(0, 169, 145)
$padding-textarea-small = 8px 12px
$background-table-shadow-right = "linear-gradient(to right, transparent, rgba(186, 199, 213, 0.23))"
$background-button-warning = rgb(249, 151, 30)
$background-table-hover = rgb(232, 237, 241)
$font-weight-medium = "500"
$width-country-flag = 24px
$palette-red-light-hover = rgb(245, 212, 212)
$background-alert-info = rgb(224, 246, 255)
$palette-blue-normal = rgb(1, 118, 210)
$height-badge = 24px
$width-icon-large = 32px
$background-input = rgb(255, 255, 255)
$color-text-button-primary-hover = rgb(255, 255, 255)
$palette-red-normal = rgb(210, 28, 28)
$color-text-button-secondary-bordered = rgb(70, 81, 94)
/* use for big elements like modal and large buttons */
$border-radius-large = 6px
$padding-table = 12px 16px
$background-button-critical-hover = rgb(189, 25, 25)
$color-text-button-link-secondary-active = rgb(56, 64, 75)
$palette-green-dark = rgb(6, 93, 18)
$background-card = rgb(255, 255, 255)
$height-separator = 1px
$border-color-button-warning-bordered = rgb(249, 151, 30)
$background-illustration = "transparent"
$height-input-group-separator-small = 16px
$text-decoration-text-link-primary = "none"
$text-decoration-text-link-primary-hover = "underline"
$border-color-button-warning-bordered-hover = rgb(244, 138, 6)
$color-text-table = rgb(127, 145, 168)
$opacity-radio-button-disabled = "0.5"
$font-size-text-large = 16px
$palette-ink-lighter-active = rgb(148, 168, 190)
$color-text-info = rgb(1, 118, 210)
$margin-right-button-group = 1px
$background-button-google-active = rgb(214, 222, 230)
$color-heading = rgb(23, 27, 30)
$background-button-critical = rgb(210, 28, 28)
$background-modal = rgb(255, 255, 255)
$color-text-button-secondary-bordered-hover = rgb(63, 72, 84)
$palette-red-normal-hover = rgb(189, 25, 25)
$palette-orange-dark = rgb(169, 54, 16)
