
$color-icon-button-success-bordered: rgb(70, 182, 85);
$padding-input-normal: 16px;
$color-text-button-primary: rgb(255, 255, 255);
$margin-button-icon-normal: 12px;
$height-button-normal: 44px;
$palette-cloud-light-hover: rgb(128, 207, 198);
$border-style-section: "solid";
$palette-red-light: rgb(250, 232, 232);
$color-alert-icon-info: rgb(1, 118, 210);
$palette-blue-normal-hover: rgb(0, 106, 189);
$color-text-button-critical: rgb(255, 255, 255);
$z-index-sticky: "100";
$palette-blue-light: rgb(224, 246, 255);
$palette-ink-dark: rgb(23, 27, 30);
$palette-cloud-normal: rgb(0, 169, 145);
$space-xx-small: 4px;
$font-size-input-normal: 16px;
$color-text-button-success: rgb(255, 255, 255);
$space-small: 12px;
$palette-blue-normal-active: rgb(0, 100, 178);
$color-icon-attention: rgb(23, 27, 30);
$palette-cloud-light-active: rgb(115, 202, 192);
$background-button-link-hover: rgb(232, 237, 241);
$modifier-darken-button-link: 0.05;
$palette-brand-dark: rgb(0, 130, 111);
$height-button-large: 52px;
$margin-button-icon-large: 16px;
$border-color-button-info-bordered: rgb(1, 118, 210);
$background-button-primary: rgb(0, 169, 145);
$background-button-success: rgb(70, 182, 85);
$palette-red-normal-active: rgb(178, 23, 23);
$padding-button-small-with-icon: 8px;
$border-color-input-error-focus: rgb(210, 28, 28);
$padding-button-small: 12px;
$color-text-secondary: rgb(127, 145, 168);
$font-size-text-normal: 14px;
$border-color-button-primary-bordered: rgb(0, 169, 145);
$height-input-small: 32px;
$border-color-input-focus: rgb(1, 118, 210);
$color-link-primary: rgb(0, 169, 145);
$opacity-overlay: "0.8";
$border-style-input: "solid";
$font-size-button-small: 12px;
// use for all basic elements like buttons, inputs, content containers
$border-radius-normal: 3px;
$color-text-button-warning-bordered: rgb(249, 151, 30);
$border-color-button-success-bordered: rgb(70, 182, 85);
$color-icon-button-secondary: rgb(70, 81, 94);
$background-button-facebook: rgb(59, 89, 152);
$palette-red-light-active: rgb(241, 192, 192);
$color-text-button-google-bordered: rgb(70, 81, 94);
$modifier-darken-hover: 0.05;
$height-radio-button: 20px;
$color-icon-primary: rgb(70, 81, 94);
$palette-cloud-normal-active: rgb(0, 143, 123);
$color-icon-button-info-bordered: rgb(1, 118, 210);
$color-icon-button-google: rgb(255, 255, 255);
$font-size-heading-medium: 22px;
$width-radio-button: 20px;
$height-icon-small: 16px;
$palette-blue-light-active: rgb(176, 232, 254);
$line-height-heading: "1.2";
$color-text-button-link-bordered: rgb(70, 81, 94);
$width-icon-small: 16px;
$color-icon-button-link: rgb(70, 81, 94);
$line-height-text: "1.4";
$font-size-label-form: 14px;
$color-text-button-facebook: rgb(255, 255, 255);
$padding-button-normal-with-icon: 8px;
$width-button-minimal: 180px;
$space-x-large: 32px;
$z-index-default: "1";
$palette-brand-normal-hover: rgb(0, 152, 130);
$font-size-heading-large: 28px;
$width-checkbox: 20px;
$space-xxx-large: 52px;
$font-size-button-normal: 14px;
// use for smaller elements like tags
$border-radius-small: 2px;
$palette-ink-normal-hover: rgb(63, 72, 84);
$font-size-text-small: 12px;
$padding-button-normal: 16px;
$opacity-checkbox-disabled: "0.5";
$height-input-normal: 44px;
$height-checkbox: 20px;
$palette-brand-light: rgb(156, 218, 211);
$padding-alert-with-icon: 12px;
$color-alert-icon-warning: rgb(249, 151, 30);
$palette-ink-light: rgb(127, 145, 168);
$border-width-section: 1px;
$modifier-scale-button-active: 0.9;
$palette-blue-dark: rgb(7, 64, 92);
$text-decoration-link-primary: "none";
$color-text-button-primary-bordered: rgb(0, 169, 145);
$color-text-alert-critical: rgb(101, 8, 8);
$padding-alert: 16px;
$background-button-bordered: rgba(0, 0, 0, 0);
$color-text-button-success-bordered: rgb(70, 182, 85);
$palette-orange-normal-hover: rgb(244, 138, 6);
$palette-red-dark: rgb(101, 8, 8);
$color-text-button-critical-bordered: rgb(210, 28, 28);
$font-weight-bold: "700";
$border-color-button-google-bordered: rgb(70, 81, 94);
$font-size-input-small: 14px;
$color-icon-radio-button-disabled: rgb(186, 199, 213);
$palette-orange-light: rgb(252, 241, 205);
$palette-green-normal-hover: rgb(66, 172, 80);
$color-icon-button-critical: rgb(255, 255, 255);
$background-alert-critical: rgb(250, 232, 232);
$border-color-section: rgb(232, 237, 241);
$palette-green-light: rgb(231, 243, 232);
$palette-social-facebook: rgb(59, 89, 152);
$palette-social-facebook-hover: rgb(56, 84, 144);
$palette-green-light-hover: rgb(215, 235, 216);
$height-button-small: 32px;
$margin-button-icon-small: 8px;
$padding-input-small: 12px;
// use only for square
$border-radius-circle: 50%;
$palette-white: rgb(255, 255, 255);
$color-icon-input: rgb(186, 199, 213);
$background-button-info: rgb(1, 118, 210);
$background-alert-warning: rgb(252, 241, 205);
$color-icon-button-warning: rgb(255, 255, 255);
$border-color-button-link-bordered: "transparent";
$font-weight-normal: "400";
$color-text-attention: rgb(23, 27, 30);
$palette-green-normal: rgb(70, 182, 85);
$box-shadow-input-error-focus: 0px 0px 3px 1px rgba(210,28,28,0.3);
$palette-orange-light-hover: rgb(250, 234, 183);
$duration-fast: "0.2s";
$font-size-heading-display: 40px;
$color-text-alert-warning: rgb(169, 54, 16);
$palette-brand-light-active: rgb(115, 202, 192);
$color-text-button-info: rgb(255, 255, 255);
$palette-orange-normal: rgb(249, 151, 30);
$border-width-input: 1px;
$background-body: rgb(245, 247, 249);
$color-icon-button-secondary-bordered: rgb(70, 81, 94);
$text-decoration-link-primary-hover: "underline";
$color-alert-icon-critical: rgb(210, 28, 28);
$color-icon-radio-button: rgb(0, 169, 145);
$color-alert-icon-success: rgb(70, 182, 85);
$palette-ink-normal: rgb(70, 81, 94);
$font-weight-links: "500";
$palette-brand-light-hover: rgb(128, 207, 198);
$color-text-primary: rgb(70, 81, 94);
$color-text-button-secondary: rgb(70, 81, 94);
$color-icon-button-google-bordered: rgb(70, 81, 94);
$font-family: ""Roboto", -apple-system, ".SFNSText-Regular", "San Francisco", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif";
$border-color-button-critical-bordered: rgb(210, 28, 28);
$color-text-button-facebook-bordered: rgb(59, 89, 152);
$palette-brand-normal: rgb(0, 169, 145);
$border-color-input: rgb(186, 199, 213);
$palette-orange-light-active: rgb(249, 228, 161);
$color-icon-button-link-bordered: rgb(70, 81, 94);
$color-icon-button-primary: rgb(255, 255, 255);
$palette-green-light-active: rgb(199, 227, 201);
$palette-social-facebook-active: rgb(53, 79, 136);
$color-icon-button-facebook: rgb(255, 255, 255);
$background-button-secondary: rgb(232, 237, 241);
$width-icon-medium: 24px;
$space-x-small: 8px;
$palette-green-normal-active: rgb(63, 163, 76);
$space-xx-large: 40px;
$z-index-modal: "825";
$font-size-heading-small: 16px;
$duration-slow: "0.4s";
$color-label-form: rgb(70, 81, 94);
$space-large: 24px;
$height-icon-medium: 24px;
$border-color-input-error: rgb(210, 28, 28);
$background-carrier-logo: rgb(255, 255, 255);
$background-alert-success: rgb(231, 243, 232);
$color-icon-button-success: rgb(255, 255, 255);
$border-color-button-secondary-bordered: rgb(70, 81, 94);
$palette-orange-normal-active: rgb(230, 130, 6);
$border-color-modal: rgb(232, 237, 241);
$color-text-input-disabled: rgb(186, 199, 213);
$padding-button-large-with-icon: 12px;
$font-size-message: 14px;
$background-section: rgb(255, 255, 255);
$color-text-alert-success: rgb(6, 93, 18);
$color-label-form-filled: rgb(127, 145, 168);
$color-link-secondary: rgb(23, 27, 30);
$color-text-error: rgb(210, 28, 28);
$background-input-disabled: rgb(232, 237, 241);
$palette-ink-normal-active: rgb(56, 64, 75);
$height-input-large: 52px;
$palette-ink-lighter: rgb(186, 199, 213);
$color-icon-secondary: rgb(127, 145, 168);
$padding-button-large: 28px;
$color-icon-button-critical-bordered: rgb(210, 28, 28);
$font-size-button-large: 16px;
$box-shadow-input-focus: 0px 0px 3px 1px rgba(1,118,210,0.3);
$background-button-google: rgb(70, 81, 94);
$opacity-button-disabled: "0.3";
$border-color-table-cell: rgb(186, 199, 213);
$palette-brand-normal-active: rgb(0, 143, 123);
$color-icon-button-warning-bordered: rgb(249, 151, 30);
$border-color-button-facebook-bordered: rgb(59, 89, 152);
$background-button-link: rgba(0, 0, 0, 0);
$color-text-input: rgb(70, 81, 94);
$color-text-button-warning: rgb(255, 255, 255);
$color-text-alert-info: rgb(7, 64, 92);
$color-placeholder-input: rgb(186, 199, 213);
$space-medium: 16px;
$color-text-button-info-bordered: rgb(1, 118, 210);
$height-icon-large: 32px;
$palette-blue-light-hover: rgb(200, 239, 254);
$z-index-modal-overlay: "800";
$color-icon-checkbox-disabled: rgb(186, 199, 213);
$font-size-message-form: 12px;
$z-index-on-the-top: "900";
$color-text-button-google: rgb(255, 255, 255);
$duration-normal: "0.3s";
$palette-cloud-normal-hover: rgb(0, 152, 130);
$palette-cloud-light: rgb(156, 218, 211);
$background-button-warning: rgb(249, 151, 30);
$color-text-button-link: rgb(70, 81, 94);
$font-weight-medium: "500";
$palette-red-light-hover: rgb(245, 212, 212);
$background-alert-info: rgb(224, 246, 255);
$color-icon-button-info: rgb(255, 255, 255);
$palette-blue-normal: rgb(1, 118, 210);
$modifier-darken-active: 0.1;
$width-icon-large: 32px;
$background-input: rgb(255, 255, 255);
$palette-red-normal: rgb(210, 28, 28);
$color-text-button-secondary-bordered: rgb(70, 81, 94);
// use for big elements like modal and large buttons
$border-radius-large: 6px;
$color-icon-terciary: rgb(186, 199, 213);
$text-decoration-link-secondary: "underline";
$palette-green-dark: rgb(6, 93, 18);
$border-color-button-warning-bordered: rgb(249, 151, 30);
$opacity-radio-button-disabled: "0.5";
$font-size-text-large: 16px;
$color-text-info: rgb(1, 118, 210);
$color-heading: rgb(23, 27, 30);
$background-button-critical: rgb(210, 28, 28);
$background-modal: rgb(255, 255, 255);
$color-icon-checkbox: rgb(0, 169, 145);
$palette-red-normal-hover: rgb(189, 25, 25);
$color-icon-button-primary-bordered: rgb(0, 169, 145);
$text-decoration-link-secondary-hover: "underline";
$palette-orange-dark: rgb(169, 54, 16);
$color-icon-button-facebook-bordered: rgb(59, 89, 152);
