
$padding-input-normal = 16px
$color-text-button-primary = rgb(255, 255, 255)
$margin-button-icon-normal = 12px
$height-button-normal = 44px
$color-text-button-destructive = rgb(255, 255, 255)
$border-style-section = "solid"
$color-alert-icon-info = rgb(1, 118, 210)
$z-index-sticky = "100"
$space-xx-small = 4px
$font-size-input-normal = 16px
$space-small = 12px
$color-icon-attention = rgb(23, 27, 30)
$background-button-link-hover = rgb(232, 237, 241)
$modifier-darken-button-link = 0.05
$background-button-destructive = rgb(210, 28, 28)
$height-button-large = 52px
$margin-button-icon-large = 16px
$background-button-primary = rgb(0, 169, 145)
$padding-button-small-with-icon = 8px
$border-color-input-error-focus = rgb(210, 28, 28)
$padding-button-small = 12px
$color-text-secondary = rgb(127, 145, 168)
$font-size-text-normal = 14px
$border-color-button-primary-bordered = rgb(0, 169, 145)
$border-color-button-destructive-bordered = rgb(210, 28, 28)
$height-input-small = 32px
$border-color-input-focus = rgb(1, 118, 210)
$color-link-primary = rgb(0, 169, 145)
$opacity-overlay = "0.8"
$border-style-input = "solid"
$font-size-button-small = 12px
// use for all basic elements like buttons, inputs, content containers
$border-radius-normal = 3px
$color-icon-button-secondary = rgb(70, 81, 94)
$background-button-facebook = rgb(59, 89, 152)
$color-text-button-google-bordered = rgb(221, 75, 57)
$modifier-darken-hover = 0.05
$height-radio-button = 20px
$color-icon-primary = rgb(70, 81, 94)
$color-icon-button-google = rgb(255, 255, 255)
$font-size-heading-medium = 22px
$width-radio-button = 20px
$height-icon-small = 16px
$line-height-heading = "1.2"
$color-text-button-link-bordered = rgb(70, 81, 94)
$width-icon-small = 16px
$color-icon-button-link = rgb(70, 81, 94)
$line-height-text = "1.4"
$font-size-label-form = 14px
$color-text-button-facebook = rgb(255, 255, 255)
$padding-button-normal-with-icon = 8px
$width-button-minimal = 180px
$space-x-large = 32px
$z-index-default = "1"
$font-size-heading-large = 28px
$width-checkbox = 20px
$space-xxx-large = 52px
$font-size-button-normal = 14px
// use for smaller elements like tags
$border-radius-small = 2px
$font-size-text-small = 12px
$padding-button-normal = 16px
$opacity-checkbox-disabled = "0.5"
$height-input-normal = 44px
$height-checkbox = 20px
$padding-alert-with-icon = 12px
$color-alert-icon-warning = rgb(249, 151, 30)
$border-width-section = 1px
$modifier-scale-button-active = 0.9
$text-decoration-link-primary = "none"
$color-text-button-primary-bordered = rgb(0, 169, 145)
$color-text-button-destructive-bordered = rgb(210, 28, 28)
$color-text-alert-critical = rgb(101, 8, 8)
$padding-alert = 16px
$background-button-bordered = rgba(0, 0, 0, 0)
$font-weight-bold = "700"
$border-color-button-google-bordered = rgb(221, 75, 57)
$font-size-input-small = 14px
$color-icon-radio-button-disabled = rgb(186, 199, 213)
$background-alert-critical = rgb(250, 232, 232)
$border-color-section = rgb(232, 237, 241)
$height-button-small = 32px
$margin-button-icon-small = 8px
$padding-input-small = 12px
// use only for square
$border-radius-circle = 50%
$color-icon-input = rgb(186, 199, 213)
$background-alert-warning = rgb(252, 241, 205)
$border-color-button-link-bordered = "transparent"
$font-weight-normal = "400"
$color-text-attention = rgb(23, 27, 30)
$box-shadow-input-error-focus = 0px 0px 3px 1px rgba(210,28,28,0.3)
$duration-fast = "0.2s"
$font-size-heading-display = 40px
$color-text-alert-warning = rgb(169, 54, 16)
$border-width-input = 1px
$background-body = rgb(245, 247, 249)
$color-icon-button-secondary-bordered = rgb(70, 81, 94)
$text-decoration-link-primary-hover = "underline"
$color-alert-icon-critical = rgb(210, 28, 28)
$color-icon-radio-button = rgb(0, 169, 145)
$color-alert-icon-success = rgb(70, 182, 85)
$font-weight-links = "500"
$color-text-primary = rgb(70, 81, 94)
$color-text-button-secondary = rgb(70, 81, 94)
$color-icon-button-google-bordered = rgb(221, 75, 57)
$font-family = ""Roboto", -apple-system, ".SFNSText-Regular", "San Francisco", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif"
$color-text-button-facebook-bordered = rgb(59, 89, 152)
$border-color-input = rgb(186, 199, 213)
$color-icon-button-link-bordered = rgb(70, 81, 94)
$color-icon-button-primary = rgb(255, 255, 255)
$color-icon-button-facebook = rgb(255, 255, 255)
$background-button-secondary = rgb(232, 237, 241)
$width-icon-medium = 24px
$color-icon-button-destructive = rgb(255, 255, 255)
$space-x-small = 8px
$space-xx-large = 40px
$z-index-modal = "825"
$font-size-heading-small = 16px
$duration-slow = "0.4s"
$color-label-form = rgb(70, 81, 94)
$space-large = 24px
$height-icon-medium = 24px
$border-color-input-error = rgb(210, 28, 28)
$background-carrier-logo = rgb(255, 255, 255)
$background-alert-success = rgb(231, 243, 232)
$border-color-button-secondary-bordered = rgb(70, 81, 94)
$border-color-modal = rgb(232, 237, 241)
$color-text-input-disabled = rgb(186, 199, 213)
$padding-button-large-with-icon = 12px
$font-size-message = 14px
$background-section = rgb(255, 255, 255)
$color-text-alert-success = rgb(6, 93, 18)
$color-label-form-filled = rgb(127, 145, 168)
$color-link-secondary = rgb(23, 27, 30)
$color-text-error = rgb(210, 28, 28)
$background-input-disabled = rgb(232, 237, 241)
$height-input-large = 52px
$color-icon-secondary = rgb(127, 145, 168)
$padding-button-large = 28px
$font-size-button-large = 16px
$box-shadow-input-focus = 0px 0px 3px 1px rgba(1,118,210,0.3)
$background-button-google = rgb(221, 75, 57)
$opacity-button-disabled = "0.3"
$border-color-table-cell = rgb(186, 199, 213)
$border-color-button-facebook-bordered = rgb(59, 89, 152)
$background-button-link = rgba(0, 0, 0, 0)
$color-text-input = rgb(70, 81, 94)
$color-text-alert-info = rgb(7, 64, 92)
$color-placeholder-input = rgb(186, 199, 213)
$space-medium = 16px
$height-icon-large = 32px
$z-index-modal-overlay = "800"
$color-icon-checkbox-disabled = rgb(186, 199, 213)
$font-size-message-form = 12px
$z-index-on-the-top = "900"
$color-text-button-google = rgb(255, 255, 255)
$duration-normal = "0.3s"
$color-text-button-link = rgb(70, 81, 94)
$font-weight-medium = "500"
$background-alert-info = rgb(224, 246, 255)
$modifier-darken-active = 0.1
$width-icon-large = 32px
$background-input = rgb(255, 255, 255)
$color-text-button-secondary-bordered = rgb(70, 81, 94)
// use for big elements like modal and large buttons
$border-radius-large = 6px
$color-icon-terciary = rgb(186, 199, 213)
$text-decoration-link-secondary = "underline"
$opacity-radio-button-disabled = "0.5"
$font-size-text-large = 16px
$color-text-info = rgb(1, 118, 210)
$color-heading = rgb(23, 27, 30)
$color-icon-button-destructive-bordered = rgb(210, 28, 28)
$background-modal = rgb(255, 255, 255)
$color-icon-checkbox = rgb(0, 169, 145)
$color-icon-button-primary-bordered = rgb(0, 169, 145)
$text-decoration-link-secondary-hover = "underline"
$color-icon-button-facebook-bordered = rgb(59, 89, 152)
