@charset "UTF-8";

@font-face {
  font-family: "orbit-icons";
  src:url("fonts/orbit-icons.eot");
  src:url("fonts/orbit-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/orbit-icons.woff") format("woff"),
    url("fonts/orbit-icons.ttf") format("truetype"),
    url("fonts/orbit-icons.svg#orbit-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "orbit-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "orbit-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accomodation:before {
  content: "\e085";
}
.icon-airplane-landing:before {
  content: "\25";
}
.icon-airplane-off:before {
  content: "\e102";
}
.icon-airplane-takeoff:before {
  content: "\2a";
}
.icon-airport-security:before {
  content: "\e035";
}
.icon-alert:before {
  content: "\e07f";
}
.icon-alert-circle:before {
  content: "\55";
}
.icon-all:before {
  content: "\e061";
}
.icon-anywhere:before {
  content: "\67";
}
.icon-arrow-down:before {
  content: "\e0a0";
}
.icon-arrow-up:before {
  content: "\e09f";
}
.icon-atm:before {
  content: "\e02c";
}
.icon-attachment:before {
  content: "\e104";
}
.icon-baggage-none:before {
  content: "\e021";
}
.icon-baggage-recheck:before {
  content: "\e105";
}
.icon-billing-details:before {
  content: "\e108";
}
.icon-boarding-gate:before {
  content: "\e00a";
}
.icon-bus:before {
  content: "\3c";
}
.icon-calendar:before {
  content: "\66";
}
.icon-calendar-anytime:before {
  content: "\41";
}
.icon-calendar-range:before {
  content: "\7a";
}
.icon-calendar-trip-length:before {
  content: "\e109";
}
.icon-car:before {
  content: "\e03a";
}
.icon-car-rental:before {
  content: "\e030";
}
.icon-chat:before {
  content: "\39";
}
.icon-check:before {
  content: "\56";
}
.icon-check-circle:before {
  content: "\53";
}
.icon-chevron-down:before {
  content: "\e09d";
}
.icon-chevron-left:before {
  content: "\21";
}
.icon-chevron-right:before {
  content: "\e01f";
}
.icon-chevron-up:before {
  content: "\6d";
}
.icon-child:before {
  content: "\e050";
}
.icon-child-friendly:before {
  content: "\e05d";
}
.icon-clock:before {
  content: "\65";
}
.icon-close:before {
  content: "\58";
}
.icon-close-circle:before {
  content: "\74";
}
.icon-cocktail:before {
  content: "\e038";
}
.icon-coffee:before {
  content: "\e02f";
}
.icon-compass:before {
  content: "\e07e";
}
.icon-contact-email:before {
  content: "\76";
}
.icon-credit-card:before {
  content: "\75";
}
.icon-document:before {
  content: "\e110";
}
.icon-download:before {
  content: "\e014";
}
.icon-edit:before {
  content: "\45";
}
.icon-edit-off:before {
  content: "\e00d";
}
.icon-email:before {
  content: "\47";
}
.icon-exchange:before {
  content: "\e032";
}
.icon-filters:before {
  content: "\26";
}
.icon-flight-services:before {
  content: "\e049";
}
.icon-full-screen:before {
  content: "\e0a6";
}
.icon-full-screen-off:before {
  content: "\e111";
}
.icon-gallery:before {
  content: "\e064";
}
.icon-grid:before {
  content: "\e06d";
}
.icon-gym:before {
  content: "\e089";
}
.icon-information-circle:before {
  content: "\52";
}
.icon-instagram:before {
  content: "\e112";
}
.icon-insurance:before {
  content: "\27";
}
.icon-insurance-confirmed:before {
  content: "\72";
}
.icon-insurance-off:before {
  content: "\3a";
}
.icon-invoice:before {
  content: "\e113";
}
.icon-link:before {
  content: "\e057";
}
.icon-linkedin:before {
  content: "\e114";
}
.icon-list:before {
  content: "\e115";
}
.icon-location:before {
  content: "\24";
}
.icon-location-a:before {
  content: "\6a";
}
.icon-location-add:before {
  content: "\3f";
}
.icon-location-b:before {
  content: "\6b";
}
.icon-location-c:before {
  content: "\5e";
}
.icon-location-d:before {
  content: "\5f";
}
.icon-location-e:before {
  content: "\60";
}
.icon-location-f:before {
  content: "\7b";
}
.icon-location-g:before {
  content: "\7c";
}
.icon-location-h:before {
  content: "\7d";
}
.icon-location-i:before {
  content: "\7e";
}
.icon-location-j:before {
  content: "\5c";
}
.icon-lounge:before {
  content: "\e04e";
}
.icon-map:before {
  content: "\e001";
}
.icon-meal:before {
  content: "\e116";
}
.icon-menu-kebab:before {
  content: "\e117";
}
.icon-menu-meatballs:before {
  content: "\e07d";
}
.icon-minus:before {
  content: "\e118";
}
.icon-minus-circle:before {
  content: "\e119";
}
.icon-money:before {
  content: "\40";
}
.icon-musical-instruments:before {
  content: "\e086";
}
.icon-nonstop:before {
  content: "\e120";
}
.icon-notification:before {
  content: "\e018";
}
.icon-notification-off:before {
  content: "\e023";
}
.icon-notification-on:before {
  content: "\e025";
}
.icon-online-checkin:before {
  content: "\e00f";
}
.icon-online-checkin-off:before {
  content: "\e00e";
}
.icon-paid:before {
  content: "\e121";
}
.icon-parking:before {
  content: "\e03e";
}
.icon-passenger:before {
  content: "\77";
}
.icon-passenger-add:before {
  content: "\29";
}
.icon-passengers:before {
  content: "\28";
}
.icon-passport:before {
  content: "\51";
}
.icon-pharmacy:before {
  content: "\e034";
}
.icon-phone:before {
  content: "\e058";
}
.icon-playground:before {
  content: "\e053";
}
.icon-plus:before {
  content: "\e122";
}
.icon-plus-circle:before {
  content: "\e027";
}
.icon-pool:before {
  content: "\e123";
}
.icon-power-plug:before {
  content: "\e06f";
}
.icon-power-plug-off:before {
  content: "\33";
}
.icon-promo-code:before {
  content: "\e081";
}
.icon-question-circle:before {
  content: "\46";
}
.icon-radius-search:before {
  content: "\64";
}
.icon-relax:before {
  content: "\e046";
}
.icon-reload:before {
  content: "\32";
}
.icon-replace:before {
  content: "\49";
}
.icon-restaurant:before {
  content: "\31";
}
.icon-search:before {
  content: "\e07c";
}
.icon-self-transfer:before {
  content: "\e020";
}
.icon-send:before {
  content: "\4d";
}
.icon-settings:before {
  content: "\38";
}
.icon-shopping:before {
  content: "\e036";
}
.icon-show-less:before {
  content: "\e124";
}
.icon-show-more:before {
  content: "\e125";
}
.icon-sightseeing:before {
  content: "\e015";
}
.icon-smoking:before {
  content: "\e037";
}
.icon-smoking-off:before {
  content: "\e126";
}
.icon-sports:before {
  content: "\e042";
}
.icon-star-empty:before {
  content: "\e08c";
}
.icon-star-full:before {
  content: "\23";
}
.icon-subway:before {
  content: "\e06a";
}
.icon-suitcase:before {
  content: "\e02d";
}
.icon-taxi:before {
  content: "\3b";
}
.icon-terms-and-conditions:before {
  content: "\e0a4";
}
.icon-thumb-down:before {
  content: "\e128";
}
.icon-thumb-up:before {
  content: "\e01b";
}
.icon-ticket-flight:before {
  content: "\36";
}
.icon-ticket-train:before {
  content: "\e084";
}
.icon-timelapse:before {
  content: "\e000";
}
.icon-toilets:before {
  content: "\e129";
}
.icon-train:before {
  content: "\e028";
}
.icon-twitter:before {
  content: "\e131";
}
.icon-visa:before {
  content: "\e132";
}
.icon-visibility:before {
  content: "\e005";
}
.icon-visibility-off:before {
  content: "\e004";
}
.icon-walk:before {
  content: "\e052";
}
.icon-wallet:before {
  content: "\e133";
}
.icon-wheelchair:before {
  content: "\e088";
}
.icon-account-circle:before {
  content: "\e134";
}
.icon-pet:before {
  content: "\e043";
}
.icon-share-android:before {
  content: "\e068";
}
.icon-logout:before {
  content: "\e0a7";
}
.icon-priority-boarding:before {
  content: "\e08d";
}
.icon-route-two-stops:before {
  content: "\70";
}
.icon-route-one-stop:before {
  content: "\71";
}
.icon-route-no-stops:before {
  content: "\6f";
}
.icon-tips:before {
  content: "\e047";
}
.icon-bug:before {
  content: "\4e";
}
.icon-camera:before {
  content: "\e017";
}
.icon-entertainment:before {
  content: "\e06e";
}
.icon-google:before {
  content: "\e003";
}
.icon-facebook:before {
  content: "\e002";
}
.icon-wifi:before {
  content: "\e062";
}
.icon-wifi-off:before {
  content: "\5a";
}
.icon-messages:before {
  content: "\e135";
}
.icon-messages-outline:before {
  content: "\e136";
}
.icon-passenger-outline:before {
  content: "\e137";
}
.icon-ticket-outline:before {
  content: "\e138";
}
.icon-spa:before {
  content: "\e04a";
}
.icon-ticket:before {
  content: "\2e";
}
.icon-boat:before {
  content: "\e139";
}
.icon-city:before {
  content: "\63";
}
.icon-feedback:before {
  content: "\e140";
}
.icon-gps:before {
  content: "\22";
}
.icon-gps-off:before {
  content: "\e01c";
}
.icon-kiwicom:before {
  content: "\e143";
}
.icon-kiwicom-care:before {
  content: "\e144";
}
.icon-kiwicom-guarantee:before {
  content: "\e145";
}
.icon-code:before {
  content: "\e141";
}
.icon-deals:before {
  content: "\e142";
}
.icon-security:before {
  content: "\e146";
}
.icon-item-completed:before {
  content: "\e149";
}
.icon-circle-small:before {
  content: "\e148";
}
.icon-baggage-storage:before {
  content: "\e147";
}
.icon-circle:before {
  content: "\e013";
}
.icon-menu-hamburger:before {
  content: "\44";
}
.icon-new-window:before {
  content: "\e05e";
}
.icon-history:before {
  content: "\e153";
}
.icon-gender-man:before {
  content: "\e152";
}
.icon-gender-woman:before {
  content: "\e151";
}
.icon-trip:before {
  content: "\e130";
}
.icon-moon:before {
  content: "\e090";
}
.icon-sun:before {
  content: "\e096";
}
.icon-sunrise:before {
  content: "\e08e";
}
.icon-seat:before {
  content: "\e02a";
}
.icon-baggage-personal-item:before {
  content: "\e156";
}
.icon-compare:before {
  content: "\e155";
}
.icon-duplicate:before {
  content: "\e154";
}
.icon-airplane:before {
  content: "\61";
}
.icon-sport-equipment:before {
  content: "\e127";
}
.icon-flight-direct:before {
  content: "\43";
}
.icon-flight-multicity:before {
  content: "\5d";
}
.icon-flight-nomad:before {
  content: "\e150";
}
.icon-flight-return:before {
  content: "\73";
}
.icon-baggage-checked:before {
  content: "\68";
}
.icon-baggage-set:before {
  content: "\e107";
}
.icon-device-desktop:before {
  content: "\e158";
}
.icon-device-mobile:before {
  content: "\e157";
}
.icon-gps-ios:before {
  content: "\e161";
}
.icon-airplane-up:before {
  content: "\e160";
}
.icon-airplane-return:before {
  content: "\e159";
}
.icon-uber:before {
  content: "\e162";
}
.icon-airplane-down:before {
  content: "\e101";
}
.icon-airplane-right:before {
  content: "\e103";
}
.icon-money-transfer-in:before {
  content: "\e167";
}
.icon-money-transfer-out:before {
  content: "\e168";
}
.icon-partners:before {
  content: "\e164";
}
.icon-refund:before {
  content: "\e165";
}
.icon-profit:before {
  content: "\e166";
}
.icon-share:before {
  content: "\e016";
}
.icon-share-ios:before {
  content: "\e163";
}
.icon-lock-open:before {
  content: "\e170";
}
.icon-lock:before {
  content: "\e169";
}
.icon-sort:before {
  content: "\e171";
}
.icon-passenger-remove:before {
  content: "\e173";
}
.icon-upload:before {
  content: "\e172";
}
.icon-baggage-cabin-none:before {
  content: "\e174";
}
.icon-baggage-personal-item-none:before {
  content: "\e175";
}
.icon-chart:before {
  content: "\e176";
}
.icon-timer:before {
  content: "\e177";
}
.icon-remove:before {
  content: "\57";
}
.icon-baggage-cabin:before {
  content: "\e106";
}
.icon-leisure:before {
  content: "\e178";
}
.icon-circle-empty:before {
  content: "\e179";
}
.icon-circle-filled:before {
  content: "\e180";
}
.icon-outlook:before {
  content: "\e181";
}
.icon-transmission:before {
  content: "\e182";
}
.icon-fuel:before {
  content: "\e183";
}
.icon-air-conditioning:before {
  content: "\e184";
}
.icon-car-door:before {
  content: "\e185";
}
