{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-runtime"
  ]
}