*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
<<<<<<< HEAD
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
=======
>>>>>>> 5e72de16f (chore: init tailwind package)
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:
}

.flex {
  display: flex
}

.flex-col {
  flex-direction: column
}

.rounded-circle {
  border-radius: 50%
}

.rounded-large {
  border-radius: 6px
}

.rounded-normal {
  border-radius: 3px
}

.rounded-small {
  border-radius: 2px
}

.bg-button-critical-background {
  --tw-bg-opacity: 1;
  background-color: rgb(210 28 28 / var(--tw-bg-opacity))
}

.bg-button-info-background {
  --tw-bg-opacity: 1;
  background-color: rgb(1 114 203 / var(--tw-bg-opacity))
}

.bg-button-primary-background {
  --tw-bg-opacity: 1;
  background-color: rgb(0 165 142 / var(--tw-bg-opacity))
}

.bg-button-secondary-background {
  --tw-bg-opacity: 1;
  background-color: rgb(232 237 241 / var(--tw-bg-opacity))
}

.bg-button-success-background {
  --tw-bg-opacity: 1;
  background-color: rgb(40 161 56 / var(--tw-bg-opacity))
}

.bg-button-warning-background {
  --tw-bg-opacity: 1;
  background-color: rgb(223 123 0 / var(--tw-bg-opacity))
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px
}

.px-lg {
  padding-left: 24px;
  padding-right: 24px
}

.px-md {
  padding-left: 16px;
  padding-right: 16px
}

.px-none {
  padding-left: 0px;
  padding-right: 0px
}

.px-sm {
  padding-left: 12px;
  padding-right: 12px
}

.px-xl {
  padding-left: 32px;
  padding-right: 32px
}

.px-xs {
  padding-left: 8px;
  padding-right: 8px
}

.px-xxl {
  padding-left: 40px;
  padding-right: 40px
}

.px-xxs {
  padding-left: 4px;
  padding-right: 4px
}

.px-xxxl {
  padding-left: 52px;
  padding-right: 52px
}

.px-xxxs {
  padding-left: 2px;
  padding-right: 2px
}

.text-heading-display {
  font-size: 40px
}

.text-heading-display-subtitle {
  font-size: 22px
}

.text-heading-title1 {
  font-size: 28px
}

.text-heading-title2 {
  font-size: 22px
}

.text-heading-title3 {
<<<<<<< HEAD
  font-size: 18px
}

.text-heading-title4 {
  font-size: 16px
}

.text-heading-title5 {
  font-size: 15px
}

=======
  font-size: 16px
}

.text-heading-title4 {
  font-size: 15px
}

.text-heading-title5 {
  font-size: 13px
}

>>>>>>> 5e72de16f (chore: init tailwind package)
.text-heading-title6 {
  font-size: 13px
}

.text-large {
  font-size: 16px
}

.text-normal {
  font-size: 15px
}

.text-small {
  font-size: 13px
}

.font-bold {
  font-weight: 700
}

.font-heading-display {
  font-weight: 700
}

.font-heading-display-subtitle {
  font-weight: 400
}

.font-heading-title1 {
  font-weight: 700
}

.font-heading-title2 {
  font-weight: 500
}

.font-heading-title3 {
  font-weight: 500
}

.font-heading-title4 {
<<<<<<< HEAD
  font-weight: 700
=======
  font-weight: 500
>>>>>>> 5e72de16f (chore: init tailwind package)
}

.font-heading-title5 {
  font-weight: 700
}

.font-heading-title6 {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-normal {
  font-weight: 400
}

.leading-heading-display {
  line-height: 44px
}

.leading-heading-display-subtitle {
  line-height: 28px
}

.leading-heading-title1 {
<<<<<<< HEAD
  line-height: 32px
=======
  line-height: 36px
>>>>>>> 5e72de16f (chore: init tailwind package)
}

.leading-heading-title2 {
  line-height: 28px
}

.leading-heading-title3 {
  line-height: 24px
}

.leading-heading-title4 {
  line-height: 20px
}

.leading-heading-title5 {
  line-height: 20px
}

.leading-heading-title6 {
<<<<<<< HEAD
  line-height: 16px
=======
  line-height: 20px
>>>>>>> 5e72de16f (chore: init tailwind package)
}

.leading-large {
  line-height: 24px
}

.leading-normal {
  line-height: 20px
}

.leading-small {
  line-height: 16px
}

.text-blue-dark {
  --tw-text-opacity: 1;
  color: rgb(0 90 163 / var(--tw-text-opacity))
}

.text-blue-dark-active {
  --tw-text-opacity: 1;
  color: rgb(0 62 112 / var(--tw-text-opacity))
}

.text-blue-dark-hover {
  --tw-text-opacity: 1;
  color: rgb(0 79 143 / var(--tw-text-opacity))
}

.text-blue-darker {
  --tw-text-opacity: 1;
  color: rgb(0 70 128 / var(--tw-text-opacity))
}

.text-blue-light {
  --tw-text-opacity: 1;
  color: rgb(232 244 253 / var(--tw-text-opacity))
}

.text-blue-light-active {
  --tw-text-opacity: 1;
  color: rgb(199 228 250 / var(--tw-text-opacity))
}

.text-blue-light-hover {
  --tw-text-opacity: 1;
  color: rgb(222 240 252 / var(--tw-text-opacity))
}

.text-blue-normal {
  --tw-text-opacity: 1;
  color: rgb(1 114 203 / var(--tw-text-opacity))
}

.text-blue-normal-active {
  --tw-text-opacity: 1;
  color: rgb(1 80 142 / var(--tw-text-opacity))
}

.text-blue-normal-hover {
  --tw-text-opacity: 1;
  color: rgb(1 97 172 / var(--tw-text-opacity))
}

.text-button-critical-foreground {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-button-info-foreground {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-button-primary-foreground {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-button-secondary-foreground {
  --tw-text-opacity: 1;
  color: rgb(37 42 49 / var(--tw-text-opacity))
}

.text-button-success-foreground {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-button-warning-foreground {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-cloud-dark {
  --tw-text-opacity: 1;
  color: rgb(186 199 213 / var(--tw-text-opacity))
}

.text-cloud-dark-active {
  --tw-text-opacity: 1;
  color: rgb(148 168 190 / var(--tw-text-opacity))
}

.text-cloud-dark-hover {
  --tw-text-opacity: 1;
  color: rgb(166 182 200 / var(--tw-text-opacity))
}

.text-cloud-light {
  --tw-text-opacity: 1;
  color: rgb(245 247 249 / var(--tw-text-opacity))
}

.text-cloud-light-active {
  --tw-text-opacity: 1;
  color: rgb(214 222 230 / var(--tw-text-opacity))
}

.text-cloud-light-hover {
  --tw-text-opacity: 1;
  color: rgb(229 234 239 / var(--tw-text-opacity))
}

.text-cloud-normal {
  --tw-text-opacity: 1;
  color: rgb(232 237 241 / var(--tw-text-opacity))
}

.text-cloud-normal-active {
  --tw-text-opacity: 1;
  color: rgb(202 212 222 / var(--tw-text-opacity))
}

.text-cloud-normal-hover {
  --tw-text-opacity: 1;
  color: rgb(220 227 233 / var(--tw-text-opacity))
}

.text-green-dark {
  --tw-text-opacity: 1;
  color: rgb(45 119 56 / var(--tw-text-opacity))
}

.text-green-dark-active {
  --tw-text-opacity: 1;
  color: rgb(31 81 38 / var(--tw-text-opacity))
}

.text-green-dark-hover {
  --tw-text-opacity: 1;
  color: rgb(39 104 49 / var(--tw-text-opacity))
}

.text-green-darker {
  --tw-text-opacity: 1;
  color: rgb(35 92 43 / var(--tw-text-opacity))
}

.text-green-light {
  --tw-text-opacity: 1;
  color: rgb(234 245 234 / var(--tw-text-opacity))
}

.text-green-light-active {
  --tw-text-opacity: 1;
  color: rgb(205 228 207 / var(--tw-text-opacity))
}

.text-green-light-hover {
  --tw-text-opacity: 1;
  color: rgb(225 239 226 / var(--tw-text-opacity))
}

.text-green-normal {
  --tw-text-opacity: 1;
  color: rgb(40 161 56 / var(--tw-text-opacity))
}

.text-green-normal-active {
  --tw-text-opacity: 1;
  color: rgb(29 114 40 / var(--tw-text-opacity))
}

.text-green-normal-hover {
  --tw-text-opacity: 1;
  color: rgb(35 139 49 / var(--tw-text-opacity))
}

.text-ink-dark {
  --tw-text-opacity: 1;
  color: rgb(37 42 49 / var(--tw-text-opacity))
}

.text-ink-dark-active {
  --tw-text-opacity: 1;
  color: rgb(11 12 15 / var(--tw-text-opacity))
}

.text-ink-dark-hover {
  --tw-text-opacity: 1;
  color: rgb(24 27 32 / var(--tw-text-opacity))
}

.text-ink-light {
  --tw-text-opacity: 1;
  color: rgb(105 125 149 / var(--tw-text-opacity))
}

.text-ink-light-active {
  --tw-text-opacity: 1;
  color: rgb(74 97 124 / var(--tw-text-opacity))
}

.text-ink-light-hover {
  --tw-text-opacity: 1;
  color: rgb(93 115 142 / var(--tw-text-opacity))
}

.text-ink-normal {
  --tw-text-opacity: 1;
  color: rgb(79 94 113 / var(--tw-text-opacity))
}

.text-ink-normal-active {
  --tw-text-opacity: 1;
  color: rgb(50 66 86 / var(--tw-text-opacity))
}

.text-ink-normal-hover {
  --tw-text-opacity: 1;
  color: rgb(62 78 99 / var(--tw-text-opacity))
}

.text-orange-dark {
  --tw-text-opacity: 1;
  color: rgb(173 87 0 / var(--tw-text-opacity))
}

.text-orange-dark-active {
  --tw-text-opacity: 1;
  color: rgb(149 74 0 / var(--tw-text-opacity))
}

.text-orange-dark-hover {
  --tw-text-opacity: 1;
  color: rgb(167 84 0 / var(--tw-text-opacity))
}

.text-orange-darker {
  --tw-text-opacity: 1;
  color: rgb(128 63 0 / var(--tw-text-opacity))
}

.text-orange-light {
  --tw-text-opacity: 1;
  color: rgb(254 242 230 / var(--tw-text-opacity))
}

.text-orange-light-active {
  --tw-text-opacity: 1;
  color: rgb(250 226 198 / var(--tw-text-opacity))
}

.text-orange-light-hover {
  --tw-text-opacity: 1;
  color: rgb(252 236 218 / var(--tw-text-opacity))
}

.text-orange-normal {
  --tw-text-opacity: 1;
  color: rgb(223 123 0 / var(--tw-text-opacity))
}

.text-orange-normal-active {
  --tw-text-opacity: 1;
  color: rgb(178 98 0 / var(--tw-text-opacity))
}

.text-orange-normal-hover {
  --tw-text-opacity: 1;
  color: rgb(201 111 0 / var(--tw-text-opacity))
}

.text-product-dark {
  --tw-text-opacity: 1;
  color: rgb(0 122 105 / var(--tw-text-opacity))
}

.text-product-dark-active {
  --tw-text-opacity: 1;
  color: rgb(0 102 87 / var(--tw-text-opacity))
}

.text-product-dark-hover {
  --tw-text-opacity: 1;
  color: rgb(0 112 96 / var(--tw-text-opacity))
}

.text-product-darker {
  --tw-text-opacity: 1;
  color: rgb(0 92 78 / var(--tw-text-opacity))
}

.text-product-light {
  --tw-text-opacity: 1;
  color: rgb(225 244 243 / var(--tw-text-opacity))
}

.text-product-light-active {
  --tw-text-opacity: 1;
  color: rgb(191 232 226 / var(--tw-text-opacity))
}

.text-product-light-hover {
  --tw-text-opacity: 1;
  color: rgb(214 240 236 / var(--tw-text-opacity))
}

.text-product-normal {
  --tw-text-opacity: 1;
  color: rgb(0 165 142 / var(--tw-text-opacity))
}

.text-product-normal-active {
  --tw-text-opacity: 1;
  color: rgb(0 132 114 / var(--tw-text-opacity))
}

.text-product-normal-hover {
  --tw-text-opacity: 1;
  color: rgb(0 149 128 / var(--tw-text-opacity))
}

.text-red-dark {
  --tw-text-opacity: 1;
  color: rgb(151 12 12 / var(--tw-text-opacity))
}

.text-red-dark-active {
  --tw-text-opacity: 1;
  color: rgb(109 9 9 / var(--tw-text-opacity))
}

.text-red-dark-hover {
  --tw-text-opacity: 1;
  color: rgb(137 11 11 / var(--tw-text-opacity))
}

.text-red-darker {
  --tw-text-opacity: 1;
  color: rgb(118 9 9 / var(--tw-text-opacity))
}

.text-red-light {
  --tw-text-opacity: 1;
  color: rgb(250 234 234 / var(--tw-text-opacity))
}

.text-red-light-active {
  --tw-text-opacity: 1;
  color: rgb(243 206 206 / var(--tw-text-opacity))
}

.text-red-light-hover {
  --tw-text-opacity: 1;
  color: rgb(248 226 226 / var(--tw-text-opacity))
}

.text-red-normal {
  --tw-text-opacity: 1;
  color: rgb(210 28 28 / var(--tw-text-opacity))
}

.text-red-normal-active {
  --tw-text-opacity: 1;
  color: rgb(157 21 21 / var(--tw-text-opacity))
}

.text-red-normal-hover {
  --tw-text-opacity: 1;
  color: rgb(185 25 25 / var(--tw-text-opacity))
}

.text-social-facebook {
  --tw-text-opacity: 1;
  color: rgb(59 89 152 / var(--tw-text-opacity))
}

.text-social-facebook-active {
  --tw-text-opacity: 1;
  color: rgb(53 79 136 / var(--tw-text-opacity))
}

.text-social-facebook-hover {
  --tw-text-opacity: 1;
  color: rgb(56 84 144 / var(--tw-text-opacity))
}

.text-white-normal {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-white-normal-active {
  --tw-text-opacity: 1;
  color: rgb(231 236 241 / var(--tw-text-opacity))
}

.text-white-normal-hover {
  --tw-text-opacity: 1;
  color: rgb(241 244 247 / var(--tw-text-opacity))
}

@media (min-width: 414px) {
  .mm\:text-blue-normal {
    --tw-text-opacity: 1;
    color: rgb(1 114 203 / var(--tw-text-opacity))
  }
}

@media (min-width: 576px) {
  .lm\:text-red-normal {
    --tw-text-opacity: 1;
    color: rgb(210 28 28 / var(--tw-text-opacity))
  }
}

@media (min-width: 768px) {
  .tb\:text-product-normal {
    --tw-text-opacity: 1;
    color: rgb(0 165 142 / var(--tw-text-opacity))
  }
}

@media (min-width: 992px) {
  .de\:text-ink-normal {
    --tw-text-opacity: 1;
    color: rgb(79 94 113 / var(--tw-text-opacity))
  }
}

@media (min-width: 1200px) {
  .ld\:text-orange-normal {
    --tw-text-opacity: 1;
    color: rgb(223 123 0 / var(--tw-text-opacity))
  }
}
