# https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/creating-a-personal-access-token
GH_TOKEN=
GATSBY_GOOGLE_CLIENT_ID=
FIGMA_TOKEN=
ORBIT_STORAGE_PATH=
GATSBY_ORBIT_STORAGE_PATH=
GITLAB_TOKEN=
