name: "Chromatic"

on:
  pull_request:
    branches:
      - "**"
  workflow_dispatch:
    inputs:
      force:
        description: "Force publish to Chromatic"
        required: false
        default: false
        type: boolean

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: yarn

      - name: Build
        run: |
          yarn tokens build
          yarn tailwind-preset build

      - name: Publish to Chromatic
        uses: chromaui/action@v10
        env:
          NODE_ENV: chromatic
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: packages/orbit-components
          buildScriptName: build:storybook
          exitZeroOnChanges: false
          dryRun: ${{ github.event.inputs.force != 'true' }}
