name: Save tracking data

on:
  schedule:
    # every month at 08:00:00
    - cron: "0 8 1 * *"

jobs:
  doc-updates:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Node
        uses: ./.github/actions/node

      - name: Update tracking data
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_KEY }}
          envs: ${{ secrets.GITLAB_TOKEN }}
          script: |
            yarn tracking build
            yarn tracking orbit-tracking
