name: Update component statuses

on:
  schedule:
    - cron: "0 9 * * *"

jobs:
  cron-update-statuses:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Node
        uses: ./.github/actions/node

      - name: Today date
        run: echo "TODAY=$(date '+%Y-%m-%d')" >> $GITHUB_ENV

      - name: Setup git identity
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: Update component statuses
        run: |
          yarn check:statuses
          git add --all
          git diff-index --quiet HEAD || git commit -m "chore: update component statuses"

      - name: Create PR
        uses: actions/github-script@v7
        with:
          script: |
            github.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head: 'chore/update-icons-and-svgs',
              base: 'master',
              title: 'chore: update component statuses',
              body: `- Automatically generated PR on ${process.env.TODAY}.\n- Updates component statuses`,
              maintainer_can_modify: true,
            });
