name: Surge Deploy

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: Deploying to surge
    steps:
      - uses: actions/checkout@v2
      - name: Restore lerna
        uses: actions/cache@v2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: Fire deployment
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Get BRANCH_NAME
        run: echo ::set-env name=BRANCH_NAME::${{ github.head_ref }}

      - name: Get BRANCH_URL
        run: echo ::set-env name=BRANCH_URL::$(sed -e 's/[^a-zA-Z0-9]/-/g' <<< ${{ github.head_ref }})

      - name: Install dependencies
        run: yarn install && yarn bootstrap

      - name: Build storybook
        run: yarn orbit-components build:storybook

      - name: Publish
        run: yarn orbit-components deploy:surge https://orbit-${BRANCH_URL}.surge.sh --token ${{ secrets.SURGE_TOKEN }}

      - name: Update PR description
        run: yarn orbit-components deploy:updateURL ${BRANCH_NAME} https://orbit-${BRANCH_URL}.surge.sh ${{ secrets.OCTO_TOKEN }}
