:root {
  --_1i45az90: Helvetica, arial, sans-serif;
  --_1i45az91: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --_1i45az92: normal 10px Helvetica, arial, sans-serif;
  --_1i45az93: normal 12px Helvetica, arial, sans-serif;
  --_1i45az94: normal 14px Helvetica, arial, sans-serif;
  --_1i45az95: normal 16px/20px Helvetica, arial, sans-serif;
  --_1i45az96: 100;
  --_1i45az97: 700;
  --_1i45az98: 4px;
  --_1i45az99: 2px;
  --_1i45az9a: 4px;
  --_1i45az9b: 6px;
  --_1i45az9c: 100%;
  --_1i45az9d: 70px;
  --_1i45az9e: 44px;
  --_1i45az9f: opacity 300ms ease, transform 300ms ease;
  --_1i45az9g: opacity 200ms ease, transform 200ms ease;
  --_1i45az9h: opacity 100ms ease, transform 100ms ease;
  --_1i45az9i: 0;
  --_1i45az9j: 2px;
  --_1i45az9k: 4px;
  --_1i45az9l: 6px;
  --_1i45az9m: 8px;
  --_1i45az9n: 12px;
  --_1i45az9o: 16px;
  --_1i45az9p: 20px;
  --_1i45az9q: 28px;
  --_1i45az9r: 40px;
}
:root {
  --vhipwr0: #000;
  --vhipwr1: #040080;
  --vhipwr2: #005ad2;
  --vhipwr3: #00439c;
  --vhipwr4: #00439c;
  --vhipwr5: #0088ff;
  --vhipwr6: #75438a;
  --vhipwr7: #a7a7a7;
  --vhipwr8: #515151;
  --vhipwr9: #fff;
  --vhipwra: #a7a7a7;
  --vhipwrb: #cd193d;
  --vhipwrc: #005ad2;
  --vhipwrd: #1da584;
  --vhipwre: rgb(0, 0, 0, .05);
  --vhipwrf: #005ad2;
  --vhipwrg: #c5f5e9;
  --vhipwrh: #fee1e9;
  --vhipwri: #eeeeee;
  --vhipwrj: #fff;
  --vhipwrk: #f4f4f4;
  --vhipwrl: rgb(from #0088ff r g b / calc(alpha - 0.85));
  --vhipwrm: hsl(from #e5f3ff h s calc(l - 15));
  --vhipwrn: #eeeeee;
  --vhipwro: 0 2px 8px rgb(18, 21, 26, 0.3);
  --vhipwrp: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --vhipwr0: #f6f8fa;
  --vhipwr1: #c8e1f7;
  --vhipwr2: #68aeea;
  --vhipwr3: #97c8f1;
  --vhipwr4: #97c8f1;
  --vhipwr5: #3e8fe0;
  --vhipwr6: #aa83f2;
  --vhipwr7: #3d4b63;
  --vhipwr8: #f6f8fa;
  --vhipwr9: #000;
  --vhipwra: #828ea4;
  --vhipwrb: #fa6b6c;
  --vhipwrc: #3e8fe0;
  --vhipwrd: #28b888;
  --vhipwre: rgb(255, 255, 255, .07);
  --vhipwrf: #3e8fe0;
  --vhipwrg: color-mix(in srgb, #0f131b 60%, #28b888);
  --vhipwrh: color-mix(in srgb, #0f131b 70%, #db2d2d);
  --vhipwri: #1c2230;
  --vhipwrj: #0f131b;
  --vhipwrk: hsl(from #0f131b h s calc(l - 3));
  --vhipwrl: rgb(from #296fc0 r g b / calc(alpha - 0.75));
  --vhipwrm: rgb(from #296fc0 r g b / calc(alpha - 0.25));
  --vhipwrn: #1c2230;
  --vhipwro: 0 0 10px -2px #2d3648;
  --vhipwrp: 0 0 0 5px rgb(from #68aeea r g b / calc(alpha - 0.6));
}
.vhipwrq {
  position: absolute;
}
.vhipwrr {
  position: relative;
}
.vhipwrs {
  position: fixed;
}
.vhipwrt {
  top: 0;
}
.vhipwru {
  bottom: 0;
}
.vhipwrv {
  left: 0;
}
.vhipwrw {
  right: 0;
}
.vhipwrx {
  display: none;
}
.vhipwry {
  display: flex;
}
.vhipwrz {
  display: block;
}
.vhipwr10 {
  display: inline;
}
.vhipwr11 {
  flex-direction: row;
}
.vhipwr12 {
  flex-direction: column;
}
.vhipwr13 {
  flex-direction: row-reverse;
}
.vhipwr14 {
  flex-wrap: wrap;
}
.vhipwr15 {
  flex-grow: 0;
}
.vhipwr16 {
  flex-grow: 1;
}
.vhipwr17 {
  justify-content: stretch;
}
.vhipwr18 {
  justify-content: flex-start;
}
.vhipwr19 {
  justify-content: center;
}
.vhipwr1a {
  justify-content: flex-end;
}
.vhipwr1b {
  justify-content: space-around;
}
.vhipwr1c {
  justify-content: space-between;
}
.vhipwr1d {
  align-items: stretch;
}
.vhipwr1e {
  align-items: flex-start;
}
.vhipwr1f {
  align-items: center;
}
.vhipwr1g {
  align-items: flex-end;
}
.vhipwr1h {
  gap: var(--_1i45az9i);
}
.vhipwr1i {
  gap: var(--_1i45az9j);
}
.vhipwr1j {
  gap: var(--_1i45az9k);
}
.vhipwr1k {
  gap: var(--_1i45az9l);
}
.vhipwr1l {
  gap: var(--_1i45az9m);
}
.vhipwr1m {
  gap: var(--_1i45az9n);
}
.vhipwr1n {
  gap: var(--_1i45az9o);
}
.vhipwr1o {
  gap: var(--_1i45az9p);
}
.vhipwr1p {
  gap: var(--_1i45az9q);
}
.vhipwr1q {
  gap: var(--_1i45az9r);
}
.vhipwr1r {
  padding-top: var(--_1i45az9i);
}
.vhipwr1s {
  padding-top: var(--_1i45az9j);
}
.vhipwr1t {
  padding-top: var(--_1i45az9k);
}
.vhipwr1u {
  padding-top: var(--_1i45az9l);
}
.vhipwr1v {
  padding-top: var(--_1i45az9m);
}
.vhipwr1w {
  padding-top: var(--_1i45az9n);
}
.vhipwr1x {
  padding-top: var(--_1i45az9o);
}
.vhipwr1y {
  padding-top: var(--_1i45az9p);
}
.vhipwr1z {
  padding-top: var(--_1i45az9q);
}
.vhipwr20 {
  padding-top: var(--_1i45az9r);
}
.vhipwr21 {
  padding-bottom: var(--_1i45az9i);
}
.vhipwr22 {
  padding-bottom: var(--_1i45az9j);
}
.vhipwr23 {
  padding-bottom: var(--_1i45az9k);
}
.vhipwr24 {
  padding-bottom: var(--_1i45az9l);
}
.vhipwr25 {
  padding-bottom: var(--_1i45az9m);
}
.vhipwr26 {
  padding-bottom: var(--_1i45az9n);
}
.vhipwr27 {
  padding-bottom: var(--_1i45az9o);
}
.vhipwr28 {
  padding-bottom: var(--_1i45az9p);
}
.vhipwr29 {
  padding-bottom: var(--_1i45az9q);
}
.vhipwr2a {
  padding-bottom: var(--_1i45az9r);
}
.vhipwr2b {
  padding-left: var(--_1i45az9i);
}
.vhipwr2c {
  padding-left: var(--_1i45az9j);
}
.vhipwr2d {
  padding-left: var(--_1i45az9k);
}
.vhipwr2e {
  padding-left: var(--_1i45az9l);
}
.vhipwr2f {
  padding-left: var(--_1i45az9m);
}
.vhipwr2g {
  padding-left: var(--_1i45az9n);
}
.vhipwr2h {
  padding-left: var(--_1i45az9o);
}
.vhipwr2i {
  padding-left: var(--_1i45az9p);
}
.vhipwr2j {
  padding-left: var(--_1i45az9q);
}
.vhipwr2k {
  padding-left: var(--_1i45az9r);
}
.vhipwr2l {
  padding-right: var(--_1i45az9i);
}
.vhipwr2m {
  padding-right: var(--_1i45az9j);
}
.vhipwr2n {
  padding-right: var(--_1i45az9k);
}
.vhipwr2o {
  padding-right: var(--_1i45az9l);
}
.vhipwr2p {
  padding-right: var(--_1i45az9m);
}
.vhipwr2q {
  padding-right: var(--_1i45az9n);
}
.vhipwr2r {
  padding-right: var(--_1i45az9o);
}
.vhipwr2s {
  padding-right: var(--_1i45az9p);
}
.vhipwr2t {
  padding-right: var(--_1i45az9q);
}
.vhipwr2u {
  padding-right: var(--_1i45az9r);
}
.vhipwr2v {
  margin-top: var(--_1i45az9i);
}
.vhipwr2w {
  margin-top: var(--_1i45az9j);
}
.vhipwr2x {
  margin-top: var(--_1i45az9k);
}
.vhipwr2y {
  margin-top: var(--_1i45az9l);
}
.vhipwr2z {
  margin-top: var(--_1i45az9m);
}
.vhipwr30 {
  margin-top: var(--_1i45az9n);
}
.vhipwr31 {
  margin-top: var(--_1i45az9o);
}
.vhipwr32 {
  margin-top: var(--_1i45az9p);
}
.vhipwr33 {
  margin-top: var(--_1i45az9q);
}
.vhipwr34 {
  margin-top: var(--_1i45az9r);
}
.vhipwr35 {
  margin-top: auto;
}
.vhipwr36 {
  margin-bottom: var(--_1i45az9i);
}
.vhipwr37 {
  margin-bottom: var(--_1i45az9j);
}
.vhipwr38 {
  margin-bottom: var(--_1i45az9k);
}
.vhipwr39 {
  margin-bottom: var(--_1i45az9l);
}
.vhipwr3a {
  margin-bottom: var(--_1i45az9m);
}
.vhipwr3b {
  margin-bottom: var(--_1i45az9n);
}
.vhipwr3c {
  margin-bottom: var(--_1i45az9o);
}
.vhipwr3d {
  margin-bottom: var(--_1i45az9p);
}
.vhipwr3e {
  margin-bottom: var(--_1i45az9q);
}
.vhipwr3f {
  margin-bottom: var(--_1i45az9r);
}
.vhipwr3g {
  margin-bottom: auto;
}
.vhipwr3h {
  margin-left: var(--_1i45az9i);
}
.vhipwr3i {
  margin-left: var(--_1i45az9j);
}
.vhipwr3j {
  margin-left: var(--_1i45az9k);
}
.vhipwr3k {
  margin-left: var(--_1i45az9l);
}
.vhipwr3l {
  margin-left: var(--_1i45az9m);
}
.vhipwr3m {
  margin-left: var(--_1i45az9n);
}
.vhipwr3n {
  margin-left: var(--_1i45az9o);
}
.vhipwr3o {
  margin-left: var(--_1i45az9p);
}
.vhipwr3p {
  margin-left: var(--_1i45az9q);
}
.vhipwr3q {
  margin-left: var(--_1i45az9r);
}
.vhipwr3r {
  margin-left: auto;
}
.vhipwr3s {
  margin-right: var(--_1i45az9i);
}
.vhipwr3t {
  margin-right: var(--_1i45az9j);
}
.vhipwr3u {
  margin-right: var(--_1i45az9k);
}
.vhipwr3v {
  margin-right: var(--_1i45az9l);
}
.vhipwr3w {
  margin-right: var(--_1i45az9m);
}
.vhipwr3x {
  margin-right: var(--_1i45az9n);
}
.vhipwr3y {
  margin-right: var(--_1i45az9o);
}
.vhipwr3z {
  margin-right: var(--_1i45az9p);
}
.vhipwr40 {
  margin-right: var(--_1i45az9q);
}
.vhipwr41 {
  margin-right: var(--_1i45az9r);
}
.vhipwr42 {
  margin-right: auto;
}
.vhipwr43 {
  overflow: hidden;
}
.vhipwr44 {
  overflow: auto;
}
.vhipwr45 {
  box-shadow: var(--vhipwro);
}
.vhipwr46 {
  box-shadow: var(--vhipwrp);
}
.vhipwr47 {
  border-radius: var(--_1i45az99);
}
.vhipwr48 {
  border-radius: var(--_1i45az9a);
}
.vhipwr49 {
  border-radius: var(--_1i45az9b);
}
.vhipwr4a {
  border-radius: var(--_1i45az9c);
}
.vhipwr4b {
  transition: var(--_1i45az9f);
}
.vhipwr4c {
  transition: var(--_1i45az9g);
}
.vhipwr4d {
  transition: var(--_1i45az9h);
}
.vhipwr4e {
  cursor: pointer;
}
.vhipwr4f {
  pointer-events: none;
}
.vhipwr4g {
  pointer-events: auto;
}
.vhipwr4h {
  user-select: none;
}
.vhipwr4i {
  appearance: none;
}
.vhipwr4j {
  opacity: 0;
}
.vhipwr4k {
  z-index: 0;
}
.vhipwr4l {
  z-index: 1;
}
.vhipwr4m {
  font: var(--_1i45az92);
}
.vhipwr4n {
  font: var(--_1i45az93);
}
.vhipwr4o {
  font: var(--_1i45az94);
}
.vhipwr4p {
  font: var(--_1i45az95);
}
.vhipwr4q {
  font-weight: var(--_1i45az96);
}
.vhipwr4r {
  font-weight: var(--_1i45az97);
}
.vhipwr4s {
  width: 100%;
}
.vhipwr4t {
  width: 100vw;
}
.vhipwr4u {
  height: 100%;
}
.vhipwr4v {
  height: 100vh;
}
.vhipwr4w {
  white-space: nowrap;
}
.vhipwr4x {
  box-sizing: border-box;
}
.vhipwr4y {
  text-align: center;
}
.vhipwr4z {
  text-align: left;
}
.vhipwr50 {
  text-align: right;
}
.vhipwr51 {
  border: 0;
}
.kl6miq1 {
  color: var(--vhipwr8);
}
.kl6miq2 {
  color: var(--vhipwrb);
}
.kl6miq3 {
  color: var(--vhipwra);
}
.kl6miqa {
  text-overflow: ellipsis;
}
